<div class="d-none d-2xl-block">
    <div class="row">
        <div class="col-md-5">
            <div class="row">
                <div class="col-md-12">
                    <h2 class="fs-40"><span id="top_itinerary_country"></span>, <span id="top_itinerary_city"></span></h2>
                    <p id="top_itinerary_description"></p>
                </div>
            </div>
            <div class="row mb-2"><div class="col-md-12"><span id="top_itinerary_duration" class="bg-black text-white fs-20 px-2 py-1"></span></div></div>
            <div class="row mb-2"><div class="col-md-12"><span id="top_itinerary_travelling_with" class="bg-black text-white fs-20 px-2 py-1"></span></div></div>
            <div class="row"><div class="col-md-12"><span id="top_itinerary_budget" class="bg-black text-white fs-20 px-2 py-1"></span></div></div>
            <div class="row mt-4">
                <div class="col-md-6 border border-start-0 border-top-0 border-bottom-0 border-black">
                    <img class="rounded-circle z-3 position-absolute" width="50" height="50" src="https://images.unsplash.com/photo-1506863530036-1efeddceb993?q=80&w=1944&auto=format&fit=crop&ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D"/>
                    <img class="rounded-circle z-2 position-absolute ms-4" width="50" height="50" src="https://images.unsplash.com/photo-1535713875002-d1d0cf377fde?q=80&w=2080&auto=format&fit=crop&ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D"/>
                    <img class="rounded-circle z-1 position-absolute ms-9" width="50" height="50" src="https://images.unsplash.com/photo-1506863530036-1efeddceb993?q=80&w=1944&auto=format&fit=crop&ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D"/>
                    <img class="rounded-circle z-0 position-absolute ms-14" width="50" height="50" src="https://images.unsplash.com/photo-1535713875002-d1d0cf377fde?q=80&w=2080&auto=format&fit=crop&ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D"/>
                </div>
                <div class="col-md-6">
                    <p class="my-auto"><span id="top_itinerary_saves"></span> travelers have saved this itinerary</p>
                </div>
            </div>
            <div class="row mt-4">
                <div id="interested_in_container" class="col-md-12"></div>
            </div>
            <div class="row mt-5">
                <div class="col-md-12">
                    <div class="d-grid">
                        <button id="top_itinerary_find_out" type="button" class="btn btn-secondary fw-medium">Find out itinerary</button>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-md-7">
            <img id="top_itinerary_img" class="w-100 h-100 object-fit-cover" src="" alt="">
        </div>
    </div>
</div>
<div class="d-none d-xxl-block d-2xl-none">
    <div class="row">
        <div class="col-md-5">
            <div class="row">
                <div class="col-md-12">
                    <h2 class="fs-32"><span id="top_itinerary_country"></span>, <span id="top_itinerary_city"></span></h2>
                    <p id="top_itinerary_description" class="fs-14"></p>
                </div>
            </div>
            <div class="row mb-2"><div class="col-md-12"><span id="top_itinerary_duration" class="bg-black text-white px-2 py-1"></span></div></div>
            <div class="row mb-2"><div class="col-md-12"><span id="top_itinerary_travelling_with" class="bg-black text-white px-2 py-1"></span></div></div>
            <div class="row"><div class="col-md-12"><span id="top_itinerary_budget" class="bg-black text-white px-2 py-1"></span></div></div>
            <div class="row mt-4">
                <div class="col-md-6 border border-start-0 border-top-0 border-bottom-0 border-black">
                    <img class="rounded-circle z-3 position-absolute" width="40" height="40" src="https://images.unsplash.com/photo-1506863530036-1efeddceb993?q=80&w=1944&auto=format&fit=crop&ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D"/>
                    <img class="rounded-circle z-2 position-absolute ms-4" width="40" height="40" src="https://images.unsplash.com/photo-1535713875002-d1d0cf377fde?q=80&w=2080&auto=format&fit=crop&ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D"/>
                    <img class="rounded-circle z-1 position-absolute ms-9" width="40" height="40" src="https://images.unsplash.com/photo-1506863530036-1efeddceb993?q=80&w=1944&auto=format&fit=crop&ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D"/>
                    <img class="rounded-circle z-0 position-absolute ms-14" width="40" height="40" src="https://images.unsplash.com/photo-1535713875002-d1d0cf377fde?q=80&w=2080&auto=format&fit=crop&ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D"/>
                </div>
                <div class="col-md-6">
                    <p class="my-auto fs-14"><span id="top_itinerary_saves"></span> travelers have already duplicated this itinerary</p>
                </div>
            </div>
            <div class="row mt-4">
                <div id="interested_in_container" class="col-md-12"></div>
            </div>
            <div class="row mt-3">
                <div class="col-md-12">
                    <div class="d-grid">
                        <button id="top_itinerary_find_out" type="button" class="btn btn-secondary fw-medium">Find out itinerary</button>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-md-7">
            <img id="top_itinerary_img" class="w-100 h-100" src="" alt="">
        </div>
    </div>
</div>
<div class="d-none d-xl-block d-xxl-none">
    <div class="row">
        <div class="col-md-5">
            <div class="row">
                <div class="col-md-12">
                    <h2 class="fs-42"><span id="top_itinerary_country"></span>, <span id="top_itinerary_city"></span></h2>
                    <p id="top_itinerary_description" class="fs-20"></p>
                </div>
            </div>
            <div class="row mb-2"><div class="col-md-12"><span id="top_itinerary_duration" class="bg-black text-white fs-20 px-2 py-1"></span></div></div>
            <div class="row mb-2"><div class="col-md-12"><span id="top_itinerary_travelling_with" class="bg-black text-white fs-20 px-2 py-1"></span></div></div>
            <div class="row"><div class="col-md-12"><span id="top_itinerary_budget" class="bg-black text-white fs-20 px-2 py-1"></span></div></div>
            <div class="row mt-4">
                <div class="col-md-6 border border-start-0 border-top-0 border-bottom-0 border-black">
                    <img class="rounded-circle z-3 position-absolute" width="50" height="50" src="https://images.unsplash.com/photo-1506863530036-1efeddceb993?q=80&w=1944&auto=format&fit=crop&ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D"/>
                    <img class="rounded-circle z-2 position-absolute ms-4" width="50" height="50" src="https://images.unsplash.com/photo-1535713875002-d1d0cf377fde?q=80&w=2080&auto=format&fit=crop&ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D"/>
                    <img class="rounded-circle z-1 position-absolute ms-9" width="50" height="50" src="https://images.unsplash.com/photo-1506863530036-1efeddceb993?q=80&w=1944&auto=format&fit=crop&ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D"/>
                    <img class="rounded-circle z-0 position-absolute ms-14" width="50" height="50" src="https://images.unsplash.com/photo-1535713875002-d1d0cf377fde?q=80&w=2080&auto=format&fit=crop&ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D"/>
                </div>
                <div class="col-md-6">
                    <p class="my-auto"><span id="top_itinerary_saves"></span> travelers have already duplicated this itinerary</p>
                </div>
            </div>
            <div class="row mt-5">
                <div id="interested_in_container" class="col-md-12"></div>
            </div>
            <div class="row mt-5">
                <div class="col-md-12">
                    <div class="d-grid">
                        <button id="top_itinerary_find_out" type="button" class="btn btn-secondary fw-medium">Find out itinerary</button>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-md-7">
            <img id="top_itinerary_img" class="w-100 h-100 object-fit-cover" src="" alt="">
        </div>
    </div>
</div>
<div class="d-none d-lg-block d-xl-none">
    <div class="row">
        <div class="col-md-5">
            <div class="row">
                <div class="col-md-12">
                    <h2 class="fs-32"><span id="top_itinerary_country"></span>, <span id="top_itinerary_city"></span></h2>
                    <p id="top_itinerary_description" class="fs-14"></p>
                </div>
            </div>
            <div class="row mb-2"><div class="col-md-12"><span id="top_itinerary_duration" class="bg-black text-white px-2 py-1"></span></div></div>
            <div class="row mb-2"><div class="col-md-12"><span id="top_itinerary_travelling_with" class="bg-black text-white px-2 py-1"></span></div></div>
            <div class="row"><div class="col-md-12"><span id="top_itinerary_budget" class="bg-black text-white px-2 py-1"></span></div></div>
            <div class="row mt-4">
                <div class="col-md-6 border border-start-0 border-top-0 border-bottom-0 border-black">
                    <img class="rounded-circle z-3 position-absolute" width="40" height="40" src="https://images.unsplash.com/photo-1506863530036-1efeddceb993?q=80&w=1944&auto=format&fit=crop&ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D"/>
                    <img class="rounded-circle z-2 position-absolute ms-4" width="40" height="40" src="https://images.unsplash.com/photo-1535713875002-d1d0cf377fde?q=80&w=2080&auto=format&fit=crop&ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D"/>
                    <img class="rounded-circle z-1 position-absolute ms-9" width="40" height="40" src="https://images.unsplash.com/photo-1506863530036-1efeddceb993?q=80&w=1944&auto=format&fit=crop&ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D"/>
                    <img class="rounded-circle z-0 position-absolute ms-14" width="40" height="40" src="https://images.unsplash.com/photo-1535713875002-d1d0cf377fde?q=80&w=2080&auto=format&fit=crop&ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D"/>
                </div>
                <div class="col-md-6">
                    <p class="my-auto fs-14"><span id="top_itinerary_saves"></span> travelers have already duplicated this itinerary</p>
                </div>
            </div>
            <div class="row mt-4">
                <div id="interested_in_container" class="col-md-12"></div>
            </div>
            <div class="row mt-17">
                <div class="col-md-12">
                    <div class="d-grid">
                        <button id="top_itinerary_find_out" type="button" class="btn btn-secondary fw-medium">Find out itinerary</button>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-md-7">
            <img id="top_itinerary_img" class="w-100 h-100" src="" alt="">
        </div>
    </div>
</div>
<div class="d-none d-md-block d-lg-none">
    <div class="row">
        <div class="col-md-5">
            <div class="row">
                <div class="col-md-12">
                    <h2 class="fs-24"><span id="top_itinerary_country"></span>, <span id="top_itinerary_city"></span></h2>
                    <p id="top_itinerary_description" class="fs-12"></p>
                </div>
                <div class="col-md-12"><span id="top_itinerary_duration" class="bg-black text-white px-2 py-1 fs-12"></span></div>
                <div class="col-md-12 mb-1"><span id="top_itinerary_travelling_with" class="bg-black text-white px-2 py-1 fs-12"></span></div>
                <div class="col-md-12 mb-1"><span id="top_itinerary_budget" class="bg-black text-white px-2 py-1 fs-12"></span></div>
                <div class="row mt-2">
                    <div class="col-md-6 border border-start-0 border-top-0 border-bottom-0 border-black">
                        <img class="rounded-circle z-3 position-absolute" width="40" height="40" src="https://images.unsplash.com/photo-1506863530036-1efeddceb993?q=80&w=1944&auto=format&fit=crop&ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D"/>
                        <img class="rounded-circle z-2 position-absolute ms-4" width="40" height="40" src="https://images.unsplash.com/photo-1535713875002-d1d0cf377fde?q=80&w=2080&auto=format&fit=crop&ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D"/>
                        <img class="rounded-circle z-1 position-absolute ms-9" width="40" height="40" src="https://images.unsplash.com/photo-1506863530036-1efeddceb993?q=80&w=1944&auto=format&fit=crop&ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D"/>
                        <img class="rounded-circle z-0 position-absolute ms-14" width="40" height="40" src="https://images.unsplash.com/photo-1535713875002-d1d0cf377fde?q=80&w=2080&auto=format&fit=crop&ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D"/>
                    </div>
                    <div class="col-md-6">
                        <p class="my-auto fs-12"><span id="top_itinerary_saves"></span> travelers have already duplicated this itinerary</p>
                    </div>
                </div>
                <div id="interested_in_container" class="col-md-12 mt-3"></div>
                <div class="col-md-12 mt-11">
                    <div class="d-grid">
                        <button id="top_itinerary_find_out" type="button" class="btn btn-secondary fw-medium">Find out itinerary</button>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-md-7">
            <img id="top_itinerary_img" class="w-100 h-100 object-fit-cover" src="" alt="">
        </div>
    </div>
</div>
<div class="d-none d-sm-block d-md-none">
    <div class="row">
        <div class="col-md-12">
            <img id="top_itinerary_img" class="w-100 h-100 object-fit-cover" src="" alt="">
        </div>
    </div>
    <div class="row">
        <div class="col-12">
            <div class="row">
                <div class="col-12">
                    <h2 class="fs-40"><span id="top_itinerary_country"></span>, <span id="top_itinerary_city"></span></h2>
                    <p id="top_itinerary_description"></p>
                </div>
            </div>
            <div class="row mb-2">
                <div class="col-12">
                    <span id="top_itinerary_duration" class="bg-black text-white fs-20 px-2 py-1"></span>
                    <span id="top_itinerary_travelling_with" class="bg-black text-white fs-20 px-2 py-1"></span>
                    <span id="top_itinerary_budget" class="bg-black text-white fs-20 px-2 py-1"></span>
                </div>
            </div>
            <div class="row mt-4">
                <div class="col-6 border border-start-0 border-top-0 border-bottom-0 border-black">
                    <img class="rounded-circle z-3 position-absolute" width="50" height="50" src="https://images.unsplash.com/photo-1506863530036-1efeddceb993?q=80&w=1944&auto=format&fit=crop&ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D"/>
                    <img class="rounded-circle z-2 position-absolute ms-4" width="50" height="50" src="https://images.unsplash.com/photo-1535713875002-d1d0cf377fde?q=80&w=2080&auto=format&fit=crop&ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D"/>
                    <img class="rounded-circle z-1 position-absolute ms-9" width="50" height="50" src="https://images.unsplash.com/photo-1506863530036-1efeddceb993?q=80&w=1944&auto=format&fit=crop&ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D"/>
                    <img class="rounded-circle z-0 position-absolute ms-14" width="50" height="50" src="https://images.unsplash.com/photo-1535713875002-d1d0cf377fde?q=80&w=2080&auto=format&fit=crop&ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D"/>
                </div>
                <div class="col-6">
                    <p class="my-auto"><span id="top_itinerary_saves"></span> travelers have already duplicated this itinerary</p>
                </div>
            </div>
            <div class="row mt-4">
                <div id="interested_in_container" class="col-12"></div>
            </div>
            <div class="row mt-3">
                <div class="col-12">
                    <div class="d-grid">
                        <button id="top_itinerary_find_out" type="button" class="btn btn-secondary fw-medium">Find out itinerary</button>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<div class="d-block d-sm-none">
    <div class="row">
        <div class="col-md-12">
            <img id="top_itinerary_img" class="w-100 h-100 object-fit-cover" src="" alt="">
        </div>
    </div>
    <div class="row">
        <div class="col-12">
            <div class="row">
                <div class="col-12">
                    <h2 class="fs-26"><span id="top_itinerary_country"></span>, <span id="top_itinerary_city"></span></h2>
                    <p id="top_itinerary_description" class="fs-14"></p>
                </div>
            </div>
            <div class="row mb-2">
                <div class="col-12">
                    <span id="top_itinerary_duration" class="bg-black text-white fs-12 px-2 py-1"></span>
                    <span id="top_itinerary_travelling_with" class="bg-black text-white fs-12 px-2 py-1"></span>
                    <span id="top_itinerary_budget" class="bg-black text-white fs-12 px-2 py-1"></span>
                </div>
            </div>
            <div class="row mt-4">
                <div class="col-6 border border-start-0 border-top-0 border-bottom-0 border-black">
                    <img class="rounded-circle z-3 position-absolute" width="40" height="40" src="https://images.unsplash.com/photo-1506863530036-1efeddceb993?q=80&w=1944&auto=format&fit=crop&ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D"/>
                    <img class="rounded-circle z-2 position-absolute ms-4" width="40" height="40" src="https://images.unsplash.com/photo-1535713875002-d1d0cf377fde?q=80&w=2080&auto=format&fit=crop&ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D"/>
                    <img class="rounded-circle z-1 position-absolute ms-9" width="40" height="40" src="https://images.unsplash.com/photo-1506863530036-1efeddceb993?q=80&w=1944&auto=format&fit=crop&ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D"/>
                    <img class="rounded-circle z-0 position-absolute ms-14" width="40" height="40" src="https://images.unsplash.com/photo-1535713875002-d1d0cf377fde?q=80&w=2080&auto=format&fit=crop&ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D"/>
                </div>
                <div class="col-6">
                    <p class="my-auto fs-12"><span id="top_itinerary_saves"></span> travelers have already duplicated this itinerary</p>
                </div>
            </div>
            <div class="row mt-3">
                <div id="interested_in_container" class="col-12"></div>
            </div>
            <div class="row mt-4">
                <div class="col-12">
                    <div class="d-grid">
                        <button id="top_itinerary_find_out" type="button" class="btn btn-secondary fw-medium">Find out itinerary</button>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>