<div class="card border border-0 rounded-0 w-100" role="button">
  <img class="card-img-top rounded-0 w-100 object-fit-cover" height="381" src="https://plus.unsplash.com/premium_photo-1661949656871-400070bd9747?q=80&w=1922&auto=format&fit=crop&ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D" alt="event_img">
  <div class="card-body px-1 py-2 rounded-0">
    <h5 class="card-title fw-bold fs-24">Figures of the Fool</h5>
    <p class="text-muted fs-14">21 Ott 2024 - 30 Ott 2024</p>
    <p class="card-text">Lisbona è una città affascinante e vivace, dove la storia si mescola al moderno in un perfetto equilibrio. Le sue stradine acciottolate, piene di tram gialli e case</p>
    <div class="d-flex justify-content-between mt-2">
        <div>
            <img src="../../../static/svg/clock.svg" alt="clock_img" class="me-2">
            <span class="fs-14">120min</span>
        </div>
        <div>
            <img src="../../../static/svg/money.svg" alt="money_img" class="me-2">
            <span class="fs-14">30 EUR</span>
        </div>
    </div>
  </div>
</div>