<div class="d-block">
    <footer class="sticky-bottom py-4 mt-5">
        <div class="container">
            <div class="row justify-content-between px-md-3 px-lg-5">
                <div class="col-12 col-md-4 mb-3">
                    <h5 class="fs-18">About Us</h5>
                    <p class="fs-14">easyTravel lets you create effortless itineraries thanks to AI. Select your preferences and get an itinerary based on your needs.<br>Inspire the community by sharing your joruneys and join organization events!</p>
                </div>
                <div class="col-12 col-md-4 mb-3">
                    <h5 class="fs-18">Contact Us</h5>
                    <p class="fs-14">
                        Email: easytravel257@gmail.com<br>
                    </p>
                </div>
            </div>
            <div class="text-center border-top pt-3">
                <p class="mb-0">&copy; 2024 easyTravel. All Rights Reserved.</p>
            </div>
        </div>
    </footer>
</div>
