<div class="d-none d-md-block">
    <footer class="sticky-bottom text-black py-4 mt-5">
        <div class="container">
            <div class="row">
                <div class="col-md-4 mb-3">
                    <h5>About Us</h5>
                    <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Integer posuere erat a ante.</p>
                </div>
                <div class="col-md-4 mb-3"></div>
                <div class="col-md-4 mb-3">
                    <h5>Contact Us</h5>
                    <p>
                        Email: info@easyTravel.com<br>
                        Phone: +123 456 7890<br>
                        Address: 123 Street, City
                    </p>
                </div>
            </div>
            <div class="text-center border-top pt-3">
                <p class="mb-0">&copy; 2024 easyTravel. All Rights Reserved.</p>
            </div>
        </div>
    </footer>
</div>
<div class="d-block d-md-none">
    <footer class="sticky-bottom text-black py-4 mt-5">
        <div class="container">
            <div class="row">
                <div class="col-md-4 mb-3">
                    <h5 class="fs-18">About Us</h5>
                    <p class="fs-14">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Integer posuere erat a ante.</p>
                </div>
                <div class="col-md-4 mb-3"></div>
                <div class="col-md-4 mb-3">
                    <h5 class="fs-18">Contact Us</h5>
                    <p class="fs-14">
                        Email: info@easyTravel.com<br>
                        Phone: +123 456 7890<br>
                        Address: 123 Street, City
                    </p>
                </div>
            </div>
            <div class="text-center border-top pt-3">
                <p class="mb-0">&copy; 2024 easyTravel. All Rights Reserved.</p>
            </div>
        </div>
    </footer>
</div>
