<div id="itineraryCarousel" class="carousel slide">
    <div class="row">
        <div class="col-12">
            <div class="carousel-inner">
                <div class="carousel-item active pb-1" data-title="Maldive, Hulmuhale">
                    <img class="d-none d-2xl-block w-100 object-fit-cover" height="290" src="https://images.unsplash.com/photo-1470218091926-22a08a325802?q=80&w=1933&auto=format&fit=crop&ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D">
                    <img class="d-none d-xxl-block d-2xl-none w-100 object-fit-cover" height="215" src="https://images.unsplash.com/photo-1470218091926-22a08a325802?q=80&w=1933&auto=format&fit=crop&ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D">
                    <img class="d-block d-xxl-none w-100 object-fit-cover" height="390" src="https://images.unsplash.com/photo-1470218091926-22a08a325802?q=80&w=1933&auto=format&fit=crop&ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D">
                    <div class="d-none d-sm-block">
                        <div class="row mt-2">
                            <div class="col-4">
                                <h2 class="d-none d-sm-block d-md-none d-xxl-block fs-32">Maldive, Hulmuhale</h2>
                                <h2 class="d-none d-md-block d-xxl-none fs-40">Maldive, Hulmuhale</h2>
                            </div>
                            <div class="col-8">
                                <p class="d-none d-sm-block d-md-none d-xxl-block fs-14 m-0">The Maldives is a tropical paradise in the Indian Ocean, where white sandy beaches meet crystal-clear turquoise waters. With luxurious stilt resorts, vibrant coral reefs and breathtaking sunsets.</p>
                                <p class="d-none d-md-block d-xxl-none m-0">The Maldives is a tropical paradise in the Indian Ocean, where white sandy beaches meet crystal-clear turquoise waters. With luxurious stilt resorts, vibrant coral reefs and breathtaking sunsets.</p>
                            </div>
                        </div>
                    </div>
                    <div class="d-block d-sm-none">
                        <div class="row mt-2">
                            <div class="col">
                                <h2 class="fs-32">Maldive, Hulmuhale</h2>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col">
                                <p class="fs-14 m-0">The Maldives is a tropical paradise in the Indian Ocean, where white sandy beaches meet crystal-clear turquoise waters. With luxurious stilt resorts, vibrant coral reefs and breathtaking sunsets.</p>
                            </div>
                        </div>
                    </div>
                    <div class="row mt-2">
                        <div class="col-12">
                            <div class="d-none d-sm-block d-xl-none d-2xl-block">
                                <span class="bg-white border border-1 border-black rounded-pill px-2 py-1">Beaches</span>
                                <span class="bg-white border border-1 border-black rounded-pill px-2 py-1">Nightlife</span>
                            </div>
                            <div class="d-none d-xxl-block d-2xl-none">
                                <span class="bg-white border border-1 border-black rounded-pill px-2 py-1 fs-14">Beaches</span>
                                <span class="bg-white border border-1 border-black rounded-pill px-2 py-1 fs-14">Nightlife</span>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="carousel-item pb-1" data-title="France, Paris">
                    <img class="d-none d-2xl-block w-100 object-fit-cover" height="290" src="https://plus.unsplash.com/premium_photo-1661919210043-fd847a58522d?q=80&w=2071&auto=format&fit=crop&ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D">
                    <img class="d-none d-xxl-block d-2xl-none w-100 object-fit-cover" height="215" src="https://plus.unsplash.com/premium_photo-1661919210043-fd847a58522d?q=80&w=2071&auto=format&fit=crop&ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D">
                    <img class="d-block d-xxl-none w-100 object-fit-cover" height="390" src="https://plus.unsplash.com/premium_photo-1661919210043-fd847a58522d?q=80&w=2071&auto=format&fit=crop&ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D">
                    <div class="row mt-2">
                        <div class="col-4">
                            <h2 class="d-block d-md-none d-xxl-block fs-32">France, Paris</h2>
                            <h2 class="d-none d-md-block d-xxl-none fs-40">France, Paris</h2>
                        </div>
                        <div class="col-8">
                            <p class="d-block d-md-none d-xxl-block fs-14 m-0">The Maldives is a tropical paradise in the Indian Ocean, where white sandy beaches meet crystal-clear turquoise waters. With luxurious stilt resorts, vibrant coral reefs and breathtaking sunsets.</p>
                            <p class="d-none d-md-block d-xxl-none m-0">The Maldives is a tropical paradise in the Indian Ocean, where white sandy beaches meet crystal-clear turquoise waters. With luxurious stilt resorts, vibrant coral reefs and breathtaking sunsets.</p>
                        </div>
                    </div>
                    <div class="row mt-2">
                        <div class="col-12">
                            <div class="d-none d-sm-block d-xl-none d-2xl-block">
                                <span class="bg-white border border-1 border-black rounded-pill px-2 py-1">Beaches</span>
                                <span class="bg-white border border-1 border-black rounded-pill px-2 py-1">Nightlife</span>
                            </div>
                            <div class="d-block d-sm-none d-xxl-block d-2xl-none">
                                <span class="bg-white border border-1 border-black rounded-pill px-2 py-1 fs-14">Beaches</span>
                                <span class="bg-white border border-1 border-black rounded-pill px-2 py-1 fs-14">Nightlife</span>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="row mt-3">
        <div class="col-12">
            <div class="row">
                <div class="col-0 col-sm-1">
                    <div class="d-none d-sm-block">
                        <a class="mx-auto carousel-control-prev position-static opacity-100" href="#itineraryCarousel" data-bs-slide="prev">
                            <img src="../../../static/svg/left-arrow.svg" alt="left-arrow">
                        </a>
                    </div>
                </div>
                <div class="col">
                    <div class="row carousel-info">
                        <div class="col-8">
                            <span id="nextSlideTitle" class="fs-14">Next: <span class="fw-medium">France, Paris</span></span>
                        </div>
                        <div class="col-4 text-end">
                            <span id="currentSlideInfo" class="fs-14">1/5</span>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-12">
                            <hr class="border border-black border-1 opacity-100 mb-0 mt-2">
                        </div>
                    </div>
                </div>
                <div class="col-0 col-sm-1">
                    <div class="d-none d-sm-block">
                        <a class="mx-auto carousel-control-next position-static opacity-100" href="#itineraryCarousel" data-bs-slide="next">
                            <img src="../../../static/svg/right-arrow.svg" alt="right-arrow">
                        </a>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
