<div class="row">
    <div class="card border-0 w-full">
        <div class="row g-0">
            <div class="d-block d-md-none col-12">
                <img class="w-100 object-fit-cover" height="300" id="top_itinerary_img" src="" alt="">
            </div>
            <div class="col-12 col-md-6">
                <div class="card-body py-0 px-0 px-md-2 mt-3 mt-md-0">
                    <div class="row align-items-center">
                        <div class="col">
                          <h2 class="d-none d-xl-block d-xxl-none fs-42"><span id="top_itinerary_country" class="fw-light"></span><span class="fw-light">,</span> <span id="top_itinerary_city"></span></h2>
                          <h2 class="d-none d-sm-block d-md-none d-2xl-block fs-40"><span id="top_itinerary_country" class="fw-light"></span><span class="fw-light">,</span> <span id="top_itinerary_city"></span></h2>
                          <h2 class="d-none d-lg-block d-xl-none d-xxl-block d-2xl-none fs-32"><span id="top_itinerary_country" class="fw-light"></span><span class="fw-light">,</span> <span id="top_itinerary_city"></span></h2>
                          <h2 class="d-block d-sm-none fs-26"><span id="top_itinerary_country" class="fw-light"></span><span class="fw-light">,</span> <span id="top_itinerary_city"></span></h2>
                          <h2 class="d-none d-md-block d-lg-none fs-24"><span id="top_itinerary_country" class="fw-light"></span><span class="fw-light">,</span> <span id="top_itinerary_city"></span></h2>
                          <p id="top_itinerary_description" class="d-none d-xl-block d-xxl-none fs-20"></p>
                          <p id="top_itinerary_description" class="d-none d-sm-block d-md-none d-2xl-block"></p>
                          <p id="top_itinerary_description" class="d-block d-sm-none d-lg-block d-xl-none d-xxl-block d-2xl-none fs-14"></p>
                          <p id="top_itinerary_description" class="d-none d-md-block d-lg-none fs-12"></p>
                        </div>
                    </div>
                    <div class="row mb-2 mb-md-0 mb-lg-2">
                        <div class="d-none d-sm-block d-md-none d-xl-block d-xxl-none d-2xl-block col-12">
                            <span id="top_itinerary_duration" class="bg-black text-white px-2 py-1 fs-20"></span></div>
                        <div class="d-none d-lg-block d-xl-none d-xxl-block d-2xl-none col-12">
                            <span id="top_itinerary_duration" class="bg-black text-white px-2 py-1"></span></div>
                        <div class="d-block d-sm-none d-md-block d-lg-none col-12">
                            <span id="top_itinerary_duration" class="bg-black text-white px-2 py-1 fs-12"></span></div>
                    </div>
                    <div class="row mb-2 mb-md-1 mb-lg-2">
                        <div class="d-none d-sm-block d-md-none d-xl-block d-xxl-none d-2xl-block col-12">
                            <span id="top_itinerary_travelling_with" class="bg-black text-white px-2 py-1 fs-20"></span></div>
                        <div class="d-none d-lg-block d-xl-none d-xxl-block d-2xl-none col-12">
                            <span id="top_itinerary_travelling_with" class="bg-black text-white px-2 py-1"></span></div>
                        <div class="d-block d-sm-none d-md-block d-lg-none col-12">
                            <span id="top_itinerary_travelling_with" class="bg-black text-white px-2 py-1 fs-12"></span></div>
                    </div>
                    <div class="row mb-2 mb-md-1 mb-lg-2">
                        <div class="d-none d-sm-block d-md-none d-xl-block d-xxl-none d-2xl-block col-12">
                            <span id="top_itinerary_budget" class="bg-black text-white px-2 py-1 fs-20"></span></div>
                        <div class="d-none d-lg-block d-xl-none d-xxl-block d-2xl-none col-12">
                            <span id="top_itinerary_budget" class="bg-black text-white px-2 py-1"></span></div>
                        <div class="d-block d-sm-none d-md-block d-lg-none col-12">
                            <span id="top_itinerary_budget" class="bg-black text-white px-2 py-1 fs-12"></span></div>
                    </div>
                    <div class="row mt-sm-4 mt-md-2 mt-lg-4">
                        <div class="d-none d-sm-block d-md-none d-xl-block d-xxl-none d-2xl-block col">
                            <p class="my-auto"><span id="top_itinerary_saves"></span> travelers have already duplicated this itinerary</p></div>
                        <div class="d-none d-lg-block d-xl-none d-xxl-block d-2xl-none col">
                            <p class="my-auto fs-14"><span id="top_itinerary_saves"></span> travelers have already duplicated this itinerary</p></div>
                        <div class="d-block d-sm-none d-md-block d-lg-none col">
                            <p class="my-auto fs-12"><span id="top_itinerary_saves"></span> travelers have already duplicated this itinerary</p></div>
                    </div>
                    <div class="row mt-3 mt-sm-4 mt-md-3 mt-lg-4 mt-xl-4 mt-xxl-4">
                        <div id="interested_in_container" class="d-none d-sm-block d-md-none d-xl-block d-xxl-none d-2xl-block col-12"></div>
                        <div id="interested_in_container" class="d-none d-lg-block d-xl-none d-xxl-block d-2xl-none col-12"></div>
                        <div id="interested_in_container" class="d-block d-sm-none d-md-block d-lg-none col-12"></div>
                    </div>
                    <div class="d-none d-2xl-block">
                        <div class="row mt-17">
                            <div class="col-12">
                                <div class="d-grid">
                                    <button type="button" class="btn btn-secondary fw-medium">Find out itinerary</button>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="d-block d-2xl-none">
                        <div class="row mt-4 mt-sm-3 mt-md-11 mt-lg-19 mt-xl-11 mt-xxl-5">
                            <div class="col-12">
                                <div class="d-grid">
                                    <button type="button" class="btn btn-secondary fw-medium">Find out itinerary</button>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div id="main_top_itinerary_img" class="col-0 col-md-6" style=""></div>
        </div>
    </div>
</div>