<div class="row">
    <div class="col-md-7">
        <h1 class="d-none d-md-block fs-78 fw-normal lh-1">Keep your business <br><span class="fw-bold">hype up</span></h1>
        <h1 class="d-none d-sm-block d-md-none fs-60 fw-normal lh-1">Keep your business <span class="fw-bold">hype up</span></h1>
        <h1 class="d-block d-sm-none fs-50 fw-normal lh-1">Keep your business <span class="fw-bold">hype up</span></h1>
    </div>
    <div class="col-md-5 mt-3 mt-md-0 my-auto">
        <h2 class="fs-20">Ready for a new event?</h2>
        <p>Whether it's concerts, theater shows or corporate events, its goal is to experience intense emotions and create moments that remain etched in the memory of those who participate.</p>
        <button id="create_event" onclick="window.location.href='/event'" class="btn btn-primary btn-block fw-medium mt-2">Create new event</button>
    </div>
</div>