<div class="row">
    <div class="col-12 col-md-6 col-lg-12 col-2xl">
        <h2 class="d-block d-md-none d-xxl-block fs-24 fw-light m-0">Live events</h2>
        <h2 class="d-none d-md-block d-xl-block d-xxl-none fs-20 fw-light m-0">Live events</h2>
        <div class="d-block d-md-none d-xl-none d-2xl-block">
            <span class="fs-46 fw-bold bg-secondary px-2" id="live_events"></span>
        </div>
        <div class="d-none d-xl-block d-xxl-none">
            <span class="fs-40 fw-bold bg-secondary px-2" id="live_events"></span>
        </div>
        <div class="d-none d-md-block d-xxl-block d-2xl-none">
            <span class="fs-36 fw-bold bg-secondary px-2" id="live_events"></span>
        </div>
    </div>
    <div class="col-12 col-md-6 col-lg-12 col-2xl mt-xxl-2 mt-2xl-0">
        <h2 class="d-block d-md-none d-xxl-block fs-24 fw-light m-0">Most chosen city</h2>
        <h2 class="d-none d-md-block d-xl-block d-xxl-none fs-20 fw-light m-0">Most chosen city</h2>
        <div class="d-block d-md-none d-xl-none d-2xl-block">
            <span class="fs-46 fw-bold bg-secondary px-2" id="most_chosen_city"></span>
        </div>
        <div class="d-none d-xl-block d-xxl-none">
            <span class="fs-40 fw-bold bg-secondary px-2" id="most_chosen_city"></span>
        </div>
        <div class="d-none d-md-block d-xxl-block d-2xl-none">
            <span class="fs-36 fw-bold bg-secondary px-2" id="most_chosen_city"></span>
        </div>
    </div>
</div>
<div class="row mt-xxl-0 mt-2xl-3">
    <div class="col-12 col-md-6 col-lg-12 col-2xl mt-xxl-2 mt-2xl-0">
        <h2 class="d-block d-md-none d-xxl-block fs-24 fw-light m-0">Last event created</h2>
        <h2 class="d-none d-md-block d-xl-block d-xxl-none fs-20 fw-light m-0">Last event created</h2>
        <div class="d-block d-md-none d-xl-none d-2xl-block">
            <span class="fs-46 fw-bold bg-secondary px-2" id="last_event_created_at"></span>
        </div>
        <div class="d-none d-xl-block d-xxl-none">
            <span class="fs-40 fw-bold bg-secondary px-2" id="last_event_created_at"></span>
        </div>
        <div class="d-none d-md-block d-xxl-block d-2xl-none">
            <span class="fs-36 fw-bold bg-secondary px-2" id="last_event_created_at"></span>
        </div>
    </div>
    <div class="col-12 col-md-6 col-lg-12 col-2xl mt-xxl-2 mt-2xl-0">
        <h2 class="d-block d-md-none d-xxl-block fs-24 fw-light m-0">Created events</h2>
        <h2 class="d-none d-md-block d-xl-block d-xxl-none fs-20 fw-light m-0">Created events</h2>
        <div class="d-block d-md-none d-xl-none d-2xl-block">
            <span class="fs-46 fw-bold bg-secondary px-2" id="events_created"></span>
        </div>
        <div class="d-none d-xl-block d-xxl-none">
            <span class="fs-40 fw-bold bg-secondary px-2" id="events_created"></span>
        </div>
        <div class="d-none d-md-block d-xxl-block d-2xl-none">
            <span class="fs-36 fw-bold bg-secondary px-2" id="events_created"></span>
        </div>
    </div>
</div>