<h1 class="d-none d-xxl-block fs-40">Upcoming events</h1>
<h1 class="d-none d-lg-block d-xxl-none fs-32">Upcoming events</h1>
<h1 class="d-block d-lg-none fs-28">Upcoming events</h1>
<div id="upcoming_events_2xl" class="d-none d-2xl-block row overflow-y-auto" style="height: 433px"></div>
<div id="upcoming_events_xxl" class="d-none d-xxl-block d-2xl-none row overflow-y-auto" style="height: 397px"></div>
<div id="upcoming_events_xl" class="d-none d-xl-block d-xxl-none row overflow-y-auto" style="height: 350px"></div>
<div id="upcoming_events_lg" class="d-none d-lg-block d-xl-none row overflow-y-auto" style="height: 345px"></div>
<div id="upcoming_events_md" class="d-none d-md-block d-lg-none row overflow-y-auto" style="height: 345px"></div>
<div id="upcoming_events" class="d-block d-md-none row overflow-y-auto" style="height: 200px"></div>