<h1 class="d-none d-xxl-block fs-40">Upcoming events</h1>
<h1 class="d-none d-lg-block d-xxl-none fs-32">Upcoming events</h1>
<h1 class="d-block d-lg-none fs-28">Upcoming events</h1>
<div class="d-none d-2xl-block row overflow-y-auto" style="height: 433px">
    <div class="col-12">
        <div class="d-flex justify-content-between px-3">
            <span class="text-muted">20 Gen 2024 - 25 Gen 2024</span>
            <span class="fw-medium">Figures of the Fool</span>
        </div>
        <hr>
    </div>
</div>
<div class="d-none d-xxl-block d-2xl-none row overflow-y-auto" style="height: 397px">
    <div class="col-12">
        <div class="d-flex justify-content-between px-3">
            <span class="text-muted">20 Gen 2024 - 25 Gen 2024</span>
            <span class="fw-medium">Figures of the Fool</span>
        </div>
        <hr>
    </div>
</div>
<div class="d-none d-xl-block d-xxl-none row overflow-y-auto" style="height: 350px">
    <div class="col-12">
        <div class="d-flex justify-content-between px-3">
            <span class="text-muted">20 Gen 2024 - 25 Gen 2024</span>
            <span class="fw-medium">Figures of the Fool</span>
        </div>
        <hr>
    </div>
</div>
<div class="d-none d-lg-block d-xl-none row overflow-y-auto" style="height: 345px">
    <div class="col-12">
        <div class="d-flex justify-content-between px-3">
            <span class="text-muted fs-14">20 Gen 2024 - <br>25 Gen 2024</span>
            <span class="fw-medium fs-14">Figures of the Fool</span>
        </div>
        <hr>
    </div>
</div>
<div class="d-none d-md-block d-lg-none row overflow-y-auto" style="height: 345px">
    <div class="col-12">
        <div class="d-flex justify-content-between px-3">
            <span class="text-muted fs-14">20 Gen 2024 - <br>25 Gen 2024</span>
            <span class="fw-medium fs-14">Figures of the Fool</span>
        </div>
        <hr>
    </div>
</div>
<div class="d-block d-md-none row overflow-y-auto" style="height: 200px">
    <div class="col-12">
        <div class="d-flex justify-content-between px-3">
            <span class="text-muted fs-12">20 Gen 2024 - 25 Gen 2024</span>
            <span class="fw-medium fs-12">Figures of the Fool</span>
        </div>
        <hr>
    </div>
</div>