{% extends "components/template.html" %}
{% block title %}Login{% endblock %}
{% block navbar %}
    {% include "components/navbar-min.html" %}
{% endblock %}
{% block content %}
     <div class="container mx-auto">
         <div class="row align-items-center">
             <div class="col-md-12">
                 <div class="row d-none d-lg-block mt-30 mb-4">
                     <div class=" col-md-12 text-center">
                         <span class="fs-32 font-weight-light">Sign in with email</span>
                     </div>
                 </div>
                 <div class="row d-none d-md-block d-lg-none mt-18 mb-4">
                     <div class=" col-md-12 text-center">
                         <span class="fs-32 font-weight-light">Sign in with email</span>
                     </div>
                 </div>
                  <div class="row d-block d-md-none mt-5 mb-4">
                     <div class="col-md-12 text-center">
                         <span class="fs-24 font-weight-light">Sign in with email</span>
                     </div>
                 </div>
                 <div class="row">
                     <div class="d-none d-md-block col-md-12">
                        {#<form class="w-50 mx-auto">#}
                            <div class="form-group mb-3">
                                <div class="input-group input-group-lg mb-3">
                                  <span class="input-group-text bg-white rounded-0 border-right-0 border-black" id="email-prepend"><img width="24" src="../../../static/svg/email.svg" alt="email"/></span>
                                  <input type="text" class="form-control rounded-0 border-left-0 border-black" id="email" placeholder="Email" aria-label="email" aria-describedby="email">
                                </div>
                            </div>
                            <div class="form-group mb-3">
                                <div class="input-group input-group-lg mb-3">
                                  <span id="password-icon" class="input-group-text bg-white rounded-0 border-right-0 border-black"><img width="24" src="../../../static/svg/lock.svg" alt="lock"/></span>
                                  <input type="password" class="form-control rounded-0 border-left-0 border-right-0 border-black password" id="password" placeholder="Password" aria-label="password" aria-describedby="password">
                                  <span class="input-group-text password-eye bg-white rounded-0 border-left-0 border-black" role="button"><img class="toggle-password" width="24" src="../../../static/svg/eye.svg" alt="eye"/></span>
                                </div>
                                <small id="passwordHelp" class="form-text text-right">Forgot password?</small>
                            </div>
                            <div class="d-grid">
                                <button type="submit" class="btn btn-primary btn-block font-weight-bold" onclick="login()">Sign in</button>
                            </div>
                        {#</form>#}
                     </div>
                     <div class="d-block d-md-none col-md-12">
                        {#<form class="w-75 mx-auto">#}
                            <div class="form-group mb-3">
                                <div class="input-group mb-3">
                                  <span class="input-group-text bg-white rounded-0 border-right-0 border-black" id="email-prepend"><img width="19" src="../../../static/svg/email.svg" alt="email"/></span>
                                  <input type="text" class="form-control rounded-0 border-left-0 border-black" placeholder="Email" aria-label="email" aria-describedby="email">
                                </div>
                            </div>
                            <div class="form-group mb-3">
                                <div class="input-group mb-3">
                                  <span id="password-icon" class="input-group-text bg-white rounded-0 border-right-0 border-black">
                                      <img width="19" src="../../../static/svg/lock.svg" alt="lock"/></span>
                                  <input type="password" class="form-control rounded-0 border-left-0 border-right-0 border-black password" placeholder="Password" aria-label="password" aria-describedby="password">
                                  <span class="input-group-text password-eye bg-white rounded-0 border-left-0 border-black" role="button">
                                      <img class="toggle-password" width="19" src="../../../static/svg/eye.svg" alt="eye"/></span>
                                </div>
                                <small id="passwordHelp" class="form-text text-right">Forgot password?</small>
                            </div>
                            <div class="d-grid">
                                <button type="submit" class="btn btn-primary btn-block font-weight-bold">Sign in</button>
                            </div>
                        {#</form>#}
                     </div>
                 </div>
                 <div class="row mt-2">
                     <div class="col-md-12">
                         <small class="form-text text-muted text-center">Are you new? <span>Create your account</span></small>
                     </div>
                 </div>
             </div>
         </div>
    </div>
{% endblock %}
{% block footer %}
    {% include "components/footer.html" %}
{% endblock %}
{% block script %}
    <script>
    $('.password-eye').on('click', function() {
        const passwordField = $('.password');
        const type = passwordField.attr('type') === 'password' ? 'text' : 'password';
        passwordField.attr('type', type);
        const icon = type === 'password' ? '../../static/svg/eye.svg' : '../../static/svg/eye-hide.svg';
        $(".toggle-password").attr("src",icon);
    });

    $( document ).ready(function() {
        check_token_existence();
    });
    </script>
{% endblock %}