{% extends "components/template.html" %}
{% block title %}Login{% endblock %}
{% block navbar %}
    {% include "components/navbar-min.html" %}
{% endblock %}
{% block content %}
     <div class="container mx-md-auto">
         <div class="row align-items-center">
             <div class="col-md-12">
                 <div class="row d-none d-lg-block mt-30 mb-4">
                     <div class=" col-md-12 text-center">
                         <span class="fs-32 font-weight-light">Sign in with email</span>
                     </div>
                 </div>
                 <div class="row d-none d-md-block d-lg-none mt-18 mb-4">
                     <div class=" col-md-12 text-center">
                         <span class="fs-32 font-weight-light">Sign in with email</span>
                     </div>
                 </div>
                  <div class="row d-block d-md-none mt-5 mb-4">
                     <div class="col-md-12 text-center">
                         <span class="fs-24 font-weight-light">Sign in with email</span>
                     </div>
                 </div>
                 <div class="row">
                     <div class="col-md-12">
                        <div class="form-group mb-3">
                            <div class="input-group mb-3">
                                <span class="input-group-text bg-white rounded-0 border-right-0 border-black text-black" id="email-prepend"><img width="24" src="../../../static/svg/email.svg" alt="email"/></span>
                                <input type="text" class="form-control rounded-0 border-left-0 border-black" id="email" placeholder="Email" aria-label="email" aria-describedby="email" >
                            </div>
                        </div>
                        <div class="form-group mb-3">
                            <div class="input-group mb-3">
                                <span id="password-icon" class="input-group-text bg-white rounded-0 border-right-0 border-black text-black"><img width="24" src="../../../static/svg/lock.svg" alt="lock"/></span>
                                <input type="password" class="form-control rounded-0 border-left-0 border-right-0 border-black password" id="password" placeholder="Password" aria-label="password" aria-describedby="password" >
                                <span class="password-eye input-group-text bg-white rounded-0 border-left-0 border-black text-black" role="button"><img class="toggle-password" width="24" src="../../../static/svg/eye.svg" alt="eye"/></span>
                            </div>
                            <div class="form-text text-right">
                                <a href="/forgot-password" class="text-decoration-none text-muted">Forgot password?</a>
                            </div>
                        </div>
                        <div class="d-grid">
                            <button id="login_btn" type="submit" class="btn btn-primary btn-block font-weight-bold" onclick="login()">Sign in</button>
                        </div>
                     </div>
                 </div>
                 <div class="row mt-2">
                     <div class="col-md-12">
                         <span class="text-muted">Are you new?</span> Signup as <a class="text-decoration-none text-primary" href="/traveler/signup">Traveler</a><span>. Otherwise, signup as </span><a href="/organization/signup" class="text-decoration-none text-primary">Organization</a>
                     </div>
                 </div>
             </div>
         </div>
    </div>
{% endblock %}
{% block footer %}
    {% include "components/footer.html" %}
{% endblock %}
{% block script %}
    <script>
        $( document ).ready(function() {
            check_token_existence();
        });

        $('.password-eye').on('click', function() {
            const passwordField = $('.password');
            const type = passwordField.attr('type') === 'password' ? 'text' : 'password';
            passwordField.attr('type', type);
            const icon = type === 'password' ? '../../static/svg/eye.svg' : '../../static/svg/eye-hide.svg';
            $(".toggle-password").attr("src",icon);
        });

        $("input#password").each(function() {
            $(this).on('keyup', function(e) {
                if(e.keyCode === 13) { login() }
            })
        })
    </script>
{% endblock %}