{% extends "components/template.html" %}
{% block title %}Profile{% endblock %}
{% block navbar %}
    {% include "components/navbar.html" %}
{% endblock %}
{% block content %}
    <div class="row mb-3 mb-md-5 mx-auto">
        <div class="col">
            <h1 class="fs-40">Profile</h1>
        </div>
    </div>
    <div class="row mx-auto">
        <div class="col-12 col-md-5">
            <h3 class="fs-24">Personal information</h3>
            <div class="row">
                <div class="col">
                    <div class="mt-3">
                      <label for="name" class="form-label fw-light">Name</label>
                      <div class="input-group">
                        <input type="text" placeholder="Insert name" class="form-control rounded-0 border-top-0 border-start-0 border-end-0 bg-white" id="name" aria-describedby="basic-addon3 basic-addon4">
                      </div>
                    </div>
                    <div class="mt-3">
                      <label for="surname" class="form-label fw-light">Surname</label>
                      <div class="input-group">
                        <input type="text" placeholder="Insert surname" class="form-control rounded-0 border-top-0 border-start-0 border-end-0 bg-white" id="surname" aria-describedby="basic-addon3 basic-addon4">
                      </div>
                    </div>
                    <div class="mt-3">
                      <label for="email" class="form-label fw-light">Email</label>
                      <div class="input-group">
                        <input type="text" placeholder="Insert email" class="form-control rounded-0 border-top-0 border-start-0 border-end-0 bg-white" id="email" aria-describedby="basic-addon3 basic-addon4">
                      </div>
                    </div>
                    <div class="mt-3">
                      <label for="date_of_birth" class="form-label fw-light">Date of birth</label>
                      <div class="input-group">
                        <input type="date" placeholder="Insert date_of_birth" class="form-control rounded-0 border-top-0 border-start-0 border-end-0 bg-white" id="date_of_birth" aria-describedby="basic-addon3 basic-addon4">
                      </div>
                    </div>
                    {#<div class="mt-3">
                      <label for="activities" class="form-label fw-light">Activity</label>
                      <div class="input-group">
                        <select id="activities" data-placeholder="Choose at least one activity">
                            <option value="BEACH">Beach</option>
                            <option value="CITY_SIGHTSEEING">City sightseeing</option>
                            <option value="FESTIVAL">Festival</option>
                            <option value="FOOD_EXPLORATION">Food exploration</option>
                            <option value="OUTDOOR_ADVENTURES">Outdoor adventures</option>
                            <option value="NIGHTLIFE">Nightlife</option>
                            <option value="SHOPPING">Shopping</option>
                            <option value="SPA_WELLNESS">Spa & wellness</option>
                        </select>
                        <span class="input-group-text rounded-0 border-top-0 border-start-0 border-end-0 bg-white text-muted fw-light" id="basic-addon3" role="button">edit</span>
                      </div>
                    </div>#}
                    <div class="mt-3">
                      <label for="currency" class="form-label fw-light">Currency</label>
                      <div class="input-group">
                        <input type="text" placeholder="Insert currency" class="form-control rounded-0 border-top-0 border-start-0 border-end-0 bg-white" id="currency" aria-describedby="basic-addon3 basic-addon4">
                      </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-12 col-md-7">
            <h3 class="fs-24 mt-5 mt-md-0 mb-4">Saved itineraries</h3>
            <div id="itineraries_container" class="row justify-content-start"></div>
        </div>
    </div>
{% endblock %}
{% block footer %}
    {% include "components/footer.html" %}
{% endblock %}
{% block script %}
<script>
    $(this).on('load', () => {
        get_full_traveler()
            .then(response => {
                if(!response.ok && response.status === 401) {
                    go_to_login();
                }

                return response.json();
            })
            .then(data => {
                $("#name").val(data.response.first_name);
                $("#name").data("defaultValue", data.response.first_name);
                $("#surname").val(data.response.last_name);
                $("#surname").data("defaultValue", data.response.last_name);
                $("#email").val(data.response.email);
                $("#email").data("defaultValue", data.response.email);
                $("#date_of_birth").val(moment(data.response.birth_date).format("YYYY-MM-DD"));
                $("#date_of_birth").data("defaultValue", moment(data.response.birth_date).format("YYYY-MM-DD"));
                $("#currency").val(data.response.currency);
                $("#currency").data("defaultValue", data.response.currency);
            })
        get_saved_itineraries();
    });


    $("#name").on('focusout', () => update_traveler());
    $("#surname").on('focusout', () => update_traveler())
    $("#email").on('focusout', () => update_traveler())
    $("#date_of_birth").on('focusout', () => update_traveler())
    $("#currency").on('focusout', () => update_traveler())
</script>
{% endblock %}