{% extends "components/template.html" %}
{% block title %}Login{% endblock %}
{% block navbar %}
    {% include "components/navbar-min.html" %}
{% endblock %}
{% block content %}
     <div class="container mx-auto">
         <div class="row align-items-center">
             <div class="col-md-12">
                 <div class="row mt-3 mb-4">
                     <div class="col-md-12 text-center">
                         <span class="fs-32 font-weight-light">Sign up</span>
                     </div>
                 </div>
                 <div class="row">
                     <div class="d-none d-lg-block col-md-12">
                        <form class="w-50 mx-auto">
                            <div class="row">
                                <div class="col-md-12">
                                    <div class="form-group mb-3">
                                        <div class="input-group input-group-lg mb-3">
                                          <span class="input-group-text bg-white rounded-0 border-right-0 border-black" id="email-prepend"><img width="24" src="../../../static/svg/email.svg" alt="email"/></span>
                                          <input type="text" class="form-control rounded-0 border-left-0 border-black" placeholder="Email" aria-label="email" aria-describedby="email">
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-md-6">
                                    <div class="form-group mb-3">
                                        <div class="input-group input-group-lg mb-3">
                                            <span class="input-group-text bg-white rounded-0 border-right-0 border-black" id="firstname-prepend"><img width="24" src="../../../static/svg/pencil.svg" alt="pencil"/></span>
                                            <input type="text" class="form-control rounded-0 border-left-0 border-black" placeholder="Firstname" aria-label="firstname" aria-describedby="firstname">
                                        </div>
                                    </div>
                                </div>
                                <div class="col-md-6">
                                    <div class="form-group mb-3">
                                        <div class="input-group input-group-lg mb-3">
                                            <span class="input-group-text bg-white rounded-0 border-right-0 border-black" id="lastname-prepend"><img width="24" src="../../../static/svg/pencil.svg" alt="pencil"/></span>
                                            <input type="text" class="form-control rounded-0 border-left-0 border-black" placeholder="Lastname" aria-label="lastname" aria-describedby="lastname">
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-md-6">
                                    <div class="form-group mb-3">
                                        <div class="input-group input-group-lg mb-3">
                                            <span class="input-group-text bg-white rounded-0 border-right-0 border-black" id="birthdate-prepend"><img width="24" src="../../../static/svg/cake.svg" alt="cake"/></span>
                                            <input  type="text" onfocus="(this.type='date')" onblur="(this.type='text')" class="form-control rounded-0 border-left-0 border-black" placeholder="Birth date" aria-label="birthdate" aria-describedby="birthdate">
                                        </div>
                                    </div>
                                </div>
                                <div class="col-md-6">
                                    <div class="form-group mb-3">
                                        <div class="input-group input-group-lg mb-3">
                                            <span class="input-group-text bg-white rounded-0 border-right-0 border-black" id="telephone-prepend"><img width="24" src="../../../static/svg/currency.svg" alt="currency"/></span>
                                            <input  type="text" class="form-control rounded-0 border-left-0 border-black" placeholder="Currency" aria-label="currency" aria-describedby="currency">
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-md-12">
                                    <div class="form-group mb-3">
                                        <div class="input-group input-group-lg mb-3">
                                            <span class="input-group-text bg-white rounded-0 border-right-0 border-black" id="telephone-prepend"><img width="24" src="../../../static/svg/telephone.svg" alt="telephone"/></span>
                                            <input type="text" class="form-control rounded-0 border-left-0 border-black" placeholder="Telephone" aria-label="telephone" aria-describedby="telephone">
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-md-12">
                                    <div class="form-group mb-3">
                                        <div class="input-group input-group-lg mb-3">
                                            <span id="password-icon" class="input-group-text bg-white rounded-0 border-right-0 border-black"><img width="19" src="../../../static/svg/lock.svg" alt="lock"/></span>
                                            <input type="password" class="form-control rounded-0 border-left-0 border-right-0 border-black password" placeholder="Password" aria-label="password" aria-describedby="password">
                                            <span class="input-group-text password-eye bg-white rounded-0 border-left-0 border-black"><img class="toggle-password" width="19" src="../../../static/svg/eye.svg" role="button" alt="eye"/></span>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-md-12">
                                    <div class="form-group mb-3">
                                        <div class="input-group input-group-lg mb-3">
                                            <span id="password-icon" class="input-group-text bg-white rounded-0 border-right-0 border-black"><img width="19" src="../../../static/svg/lock.svg" alt="lock"/></span>
                                            <input type="password" class="form-control rounded-0 border-left-0 border-right-0 border-black confirm-password" placeholder="Confirm password" aria-label="password" aria-describedby="confirm-password">
                                            <span class="input-group-text confirm-password-eye bg-white rounded-0 border-left-0 border-black"><img class="toggle-confirm-password" width="19" src="../../../static/svg/eye.svg" role="button" alt="eye"/></span>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="d-grid">
                                <button type="submit" class="btn btn-primary btn-block font-weight-bold">Sign up</button>
                            </div>
                        </form>
                     </div>
                     <div class="d-none d-md-block d-lg-none col-md-12">
                        <form class="w-75 mx-auto">
                            <div class="row">
                                <div class="col-md-12">
                                    <div class="form-group mb-3">
                                        <div class="input-group input-group-lg mb-3">
                                            <span class="input-group-text bg-white rounded-0 border-right-0 border-black" id="email-prepend"><img width="24" src="../../../static/svg/email.svg" alt="email"/></span>
                                            <input type="text" class="form-control rounded-0 border-left-0 border-black" placeholder="Email" aria-label="email" aria-describedby="email">
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-md-6">
                                    <div class="form-group mb-3">
                                        <div class="input-group input-group-lg mb-3">
                                            <span class="input-group-text bg-white rounded-0 border-right-0 border-black" id="firstname-prepend"><img width="24" src="../../../static/svg/pencil.svg" alt="pencil"/></span>
                                            <input type="text" class="form-control rounded-0 border-left-0 border-black" placeholder="Firstname" aria-label="firstname" aria-describedby="firstname">
                                        </div>
                                    </div>
                                </div>
                                <div class="col-md-6">
                                    <div class="form-group mb-3">
                                        <div class="input-group input-group-lg mb-3">
                                            <span class="input-group-text bg-white rounded-0 border-right-0 border-black" id="lastname-prepend"><img width="24" src="../../../static/svg/pencil.svg" alt="pencil"/></span>
                                            <input type="text" class="form-control rounded-0 border-left-0 border-black" placeholder="Lastname" aria-label="lastname" aria-describedby="lastname">
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-md-6">
                                    <div class="form-group mb-3">
                                        <div class="input-group input-group-lg mb-3">
                                            <span class="input-group-text bg-white rounded-0 border-right-0 border-black" id="birthdate-prepend"><img width="24" src="../../../static/svg/cake.svg" alt="cake"/></span>
                                            <input type="text" onfocus="(this.type='date')" onblur="(this.type='text')" class="form-control rounded-0 border-left-0 border-black" placeholder="Birth date" aria-label="birthdate" aria-describedby="birthdate">
                                        </div>
                                    </div>
                                </div>
                                <div class="col-md-6">
                                    <div class="form-group mb-3">
                                        <div class="input-group input-group-lg mb-3">
                                            <span class="input-group-text bg-white rounded-0 border-right-0 border-black" id="telephone-prepend"><img width="24" src="../../../static/svg/currency.svg" alt="currency"/></span>
                                            <input type="text" class="form-control rounded-0 border-left-0 border-black" placeholder="Currency" aria-label="currency" aria-describedby="currency">
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-md-12">
                                    <div class="form-group mb-3">
                                        <div class="input-group input-group-lg mb-3">
                                            <span class="input-group-text bg-white rounded-0 border-right-0 border-black" id="telephone-prepend"><img width="24" src="../../../static/svg/telephone.svg" alt="telephone"/></span>
                                            <input type="text" class="form-control rounded-0 border-left-0 border-black" placeholder="Telephone" aria-label="telephone" aria-describedby="telephone">
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-md-12">
                                    <div class="form-group mb-3">
                                        <div class="input-group input-group-lg mb-3">
                                            <span id="password-icon" class="input-group-text bg-white rounded-0 border-right-0 border-black"><img width="24" src="../../../static/svg/lock.svg" alt="lock"/></span>
                                            <input type="password" class="form-control rounded-0 border-left-0 border-right-0 border-black password" placeholder="Password" aria-label="password" aria-describedby="password">
                                            <span class="input-group-text password-eye bg-white rounded-0 border-left-0 border-black" role="button"><img class="toggle-password" width="24" src="../../../static/svg/eye.svg" alt="eye"/></span>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-md-12">
                                    <div class="form-group mb-3">
                                        <div class="input-group input-group-lg mb-3">
                                            <span id="password-icon" class="input-group-text bg-white rounded-0 border-right-0 border-black"><img width="24" src="../../../static/svg/lock.svg" alt="lock"/></span>
                                            <input type="password" class="form-control rounded-0 border-left-0 border-right-0 border-black confirm-password" placeholder="Confirm password" aria-label="password" aria-describedby="confirm-password">
                                            <span class="input-group-text confirm-password-eye bg-white rounded-0 border-left-0 border-black" role="button"><img class="toggle-confirm-password" width="24" src="../../../static/svg/eye.svg" alt="eye"/></span>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="d-grid">
                                <button type="submit" class="btn btn-primary btn-block font-weight-bold">Sign up</button>
                            </div>
                        </form>
                     </div>
                     <div class="d-block d-md-none col-md-12">
                        <form class="w-75 mx-auto">
                            <div class="row">
                                <div class="col-md-12">
                                    <div class="form-group mb-3">
                                        <div class="input-group mb-3">
                                            <span class="input-group-text bg-white rounded-0 border-right-0 border-black" id="email-prepend"><img width="19" src="../../../static/svg/email.svg" alt="mail"/></span>
                                            <input type="text" class="form-control rounded-0 border-left-0 border-black" placeholder="Email" aria-label="email" aria-describedby="email">
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-md-6">
                                    <div class="form-group mb-3">
                                        <div class="input-group mb-3">
                                            <span class="input-group-text bg-white rounded-0 border-right-0 border-black" id="firstname-prepend"><img width="19" src="../../../static/svg/pencil.svg" alt="pencil"/></span>
                                            <input type="text" class="form-control rounded-0 border-left-0 border-black" placeholder="Firstname" aria-label="firstname" aria-describedby="firstname">
                                        </div>
                                    </div>
                                </div>
                                <div class="col-md-6">
                                    <div class="form-group mb-3">
                                        <div class="input-group mb-3">
                                            <span class="input-group-text bg-white rounded-0 border-right-0 border-black" id="lastname-prepend"><img width="19" src="../../../static/svg/pencil.svg" alt="pencil"/></span>
                                            <input type="text" class="form-control rounded-0 border-left-0 border-black" placeholder="Lastname" aria-label="lastname" aria-describedby="lastname">
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-md-6">
                                    <div class="form-group mb-3">
                                        <div class="input-group mb-3">
                                            <span class="input-group-text bg-white rounded-0 border-right-0 border-black" id="birthdate-prepend"><img width="19" src="../../../static/svg/cake.svg" alt="cake"/></span>
                                            <input  type="text" onfocus="(this.type='date')" onblur="(this.type='text')" class="form-control rounded-0 border-left-0 border-black" placeholder="Birth date" aria-label="birthdate" aria-describedby="birthdate">
                                        </div>
                                    </div>
                                </div>
                                <div class="col-md-6">
                                    <div class="form-group mb-3">
                                        <div class="input-group mb-3">
                                            <span class="input-group-text bg-white rounded-0 border-right-0 border-black" id="telephone-prepend"><img width="19" src="../../../static/svg/currency.svg" alt="currency"/></span>
                                            <input  type="text" class="form-control rounded-0 border-left-0 border-black" placeholder="Currency" aria-label="currency" aria-describedby="currency">
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-md-12">
                                    <div class="form-group mb-3">
                                        <div class="input-group mb-3">
                                            <span class="input-group-text bg-white rounded-0 border-right-0 border-black" id="telephone-prepend"><img width="19" src="../../../static/svg/telephone.svg" alt="telephone"/></span>
                                            <input type="text" class="form-control rounded-0 border-left-0 border-black" placeholder="Telephone" aria-label="telephone" aria-describedby="telephone">
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-md-12">
                                    <div class="form-group mb-3">
                                        <div class="input-group mb-3">
                                            <span id="password-icon" class="input-group-text bg-white rounded-0 border-right-0 border-black"><img width="19" src="../../../static/svg/lock.svg" alt="lock"/></span>
                                            <input type="password" class="form-control rounded-0 border-left-0 border-right-0 border-black password" placeholder="Password" aria-label="password" aria-describedby="password">
                                            <span class="input-group-text bg-white rounded-0 border-left-0 border-black"><img class="toggle-password" width="19" src="../../../static/svg/eye.svg" alt="eye"/></span>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-md-12">
                                    <div class="form-group mb-3">
                                        <div class="input-group mb-3">
                                            <span id="password-icon" class="input-group-text bg-white rounded-0 border-right-0 border-black"><img width="19" src="../../../static/svg/lock.svg" alt="lock"/></span>
                                            <input type="password" class="form-control rounded-0 border-left-0 border-right-0 border-black confirm-password" placeholder="Confirm password" aria-label="password" aria-describedby="confirm-password">
                                            <span class="input-group-text confirm-password-eye bg-white rounded-0 border-left-0 border-black"><img class="toggle-confirm-password" width="19" src="../../../static/svg/eye.svg" alt="eye"/></span>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="d-grid">
                                <button type="submit" class="btn btn-primary btn-block font-weight-bold">Sign up</button>
                            </div>
                        </form>
                     </div>
                 </div>
             </div>
         </div>
    </div>
{% endblock %}
{% block footer %}
    {% include "components/footer.html" %}
{% endblock %}
{% block script %}
    <script>
    $('.password-eye').on('click', function() {
        const passwordField = $('.password');
        const type = passwordField.attr('type') === 'password' ? 'text' : 'password';
        passwordField.attr('type', type);
        const icon = type === 'password' ? '../../static/svg/eye.svg' : '../../static/svg/eye-hide.svg';
        $(".toggle-password").attr("src",icon);
    });
    $('.confirm-password-eye').on('click', function() {
        const passwordField = $('.confirm-password');
        const type = passwordField.attr('type') === 'password' ? 'text' : 'password';
        passwordField.attr('type', type);
        const icon = type === 'password' ? '../../static/svg/eye.svg' : '../../static/svg/eye-hide.svg';
        $(".toggle-confirm-password").attr("src",icon);
    });
    </script>
{% endblock %}