{% extends "components/template.html" %}
{% block title %}Confirmed account{% endblock %}
{% block navbar %}
    {% include "components/navbar.html" %}
{% endblock %}
{% block content %}
    <div class="container d-block">
        <div class="row">
            <div class="col-md-12">
                <h1 class="mt-12">What are your favorite activities while traveling?</h1>
                <h5 class="text-muted">Indicate at least 3</h5>
            </div>
        </div>
    </div>
    {{ activities.activities() }}
    <div class="container d-block">
        <div class="row">
            <div class="col-md-12 text-center">
                <button type="button" class="btn btn-primary btn-block fw-medium fs-20 p-1 w-50">Confirm</button>
            </div>
        </div>
    </div>
{% endblock %}
{% block footer %}
    {% include "components/footer.html" %}
{% endblock %}
{% block script %}
{% endblock %}