{% extends "components/template.html" %}
{% block title %}Dashboard{% endblock %}
{% block navbar %}
    {% include "components/navbar-organization.html" %}
{% endblock %}
{% block content %}
    {% include "dashboard-section/heading.html" %}
    {% include "dashboard-section/spotlight.html" %}
    {% include "dashboard-section/show-more.html" %}
    <div id="interested_in_activity_container"></div>
{% endblock %}
{% block footer %}
    {% include "components/footer.html" %}
{% endblock %}
{% block script %}
    <script>
        $(document).ready(function () {
            get_traveler()
                .then(response => {
                    if(!response.ok && response.status === 401) {
                        go_to_login();
                    }

                    return response.json();
                })
                .then(data => {
                    $("#first_name").text(data.response.first_name);
                    data.response.interested_in.forEach((activity, idx) => {
                        get_itinerary_by_activity(activity, activity.toLowerCase().replace("_", "-"))

                        if(idx === 0) {
                            $('#be_inspired').on("click", () => window.location.href = `#${activity.toLowerCase().replace("_", "-")}-section`);
                        }
                    })
                });
            get_most_saved_itineraries()
                .then(() => {

                    const $carousel = $('#itineraryCarousel');
                    const $currentSlideInfo = $('#currentSlideInfo');
                    const $nextSlideTitle = $('#nextSlideTitle');
                    const $slides = $carousel.find('.carousel-item');
                    const totalSlides = $slides.length;

                    function updateSlideInfo(event) {
                        const currentIndex = event.from;
                        const nextIndex = event.to;
                        const nextTitle = $slides.eq((nextIndex + 1) % totalSlides).data('title');

                        $currentSlideInfo.text(`${nextIndex + 1} / ${totalSlides}`);
                        $nextSlideTitle.text(`Next: ${nextTitle}`);
                    }

                    $carousel.on('slide.bs.carousel', function (event) {
                        updateSlideInfo(event);
                    });

                    // Initialize with first slide's next info
                    const nextTitle = $slides.eq(1 % totalSlides).data('title');
                    $currentSlideInfo.text(`1 / ${totalSlides}`);
                    $nextSlideTitle.text(`Next: ${nextTitle}`);
                });
        });

        $('#create_itinerary').on("click", () => window.location.href = '/itinerary/generate');
    </script>
{% endblock %}