<div class="row">
    <div class="col-md-12">
        <h2 class="d-none d-md-block fs-40">Nightlife itinerary</h2>
        <h2 class="d-block d-md-none fs-32">Nightlife itinerary</h2>
    </div>
</div>
<div class="row mt-3 align-items-center">
    <div class="col-md">
        <div class="d-none d-md-block">
            <a class="mx-auto carousel-control-prev position-static opacity-100" href="#activityCarousel" data-bs-slide="prev">
                <img src="../../../static/svg/left-arrow.svg" alt="left-arrow">
            </a>
        </div>
    </div>
    <div class="col-12 col-md-10">
         <div id="activityCarousel" class="carousel slide" data-bs-ride="ride">
             <div class="carousel-inner" role="listbox">
                <div class="carousel-item active">
                    <div class="d-none d-2xl-block">
                        <div class="row justify-content-around">
                            <div class="col-md-2">
                             {% include "components/itinerary-card.html" %}
                            </div>
                            <div class="col-md-2">
                             {% include "components/itinerary-card.html" %}
                            </div>
                            <div class="col-md-2">
                             {% include "components/itinerary-card.html" %}
                            </div>
                            <div class="col-md-2">
                             {% include "components/itinerary-card.html" %}
                            </div>
                            <div class="col-md-2">
                             {% include "components/itinerary-card.html" %}
                            </div>
                        </div>
                    </div>
                    <div class="d-none d-xxl-block d-2xl-none">
                        <div class="row justify-content-around">
                            <div class="col-md-3">
                             {% include "components/itinerary-card.html" %}
                            </div>
                            <div class="col-md-3">
                             {% include "components/itinerary-card.html" %}
                            </div>
                            <div class="col-md-3">
                             {% include "components/itinerary-card.html" %}
                            </div>
                            <div class="col-md-3">
                             {% include "components/itinerary-card.html" %}
                            </div>
                        </div>
                    </div>
                    <div class="d-none d-lg-block d-xxl-none">
                        <div class="row justify-content-around">
                            <div class="col-md-4">
                             {% include "components/itinerary-card.html" %}
                            </div>
                            <div class="col-md-4">
                             {% include "components/itinerary-card.html" %}
                            </div>
                            <div class="col-md-4">
                             {% include "components/itinerary-card.html" %}
                            </div>
                        </div>
                    </div>
                    <div class="d-none d-md-block d-lg-none">
                        <div class="row justify-content-center">
                            <div class="col-md-6">
                             {% include "components/itinerary-card.html" %}
                            </div>
                            <div class="col-md-6">
                             {% include "components/itinerary-card.html" %}
                            </div>
                        </div>
                    </div>
                    <div class="d-block d-md-none">
                        <div class="row justify-content-center">
                            <div class="col-12">
                             {% include "components/itinerary-card.html" %}
                            </div>
                        </div>
                    </div>
                </div>
                <div class="carousel-item">
                    <div class="d-none d-2xl-block">
                        <div class="row justify-content-around">
                            <div class="col-md-2">
                             {% include "components/itinerary-card.html" %}
                            </div>
                            <div class="col-md-2">
                             {% include "components/itinerary-card.html" %}
                            </div>
                            <div class="col-md-2">
                             {% include "components/itinerary-card.html" %}
                            </div>
                            <div class="col-md-2">
                             {% include "components/itinerary-card.html" %}
                            </div>
                            <div class="col-md-2">
                             {% include "components/itinerary-card.html" %}
                            </div>
                        </div>
                    </div>
                    <div class="d-none d-xxl-block d-2xl-none">
                        <div class="row justify-content-around">
                            <div class="col-md-3">
                             {% include "components/itinerary-card.html" %}
                            </div>
                            <div class="col-md-3">
                             {% include "components/itinerary-card.html" %}
                            </div>
                            <div class="col-md-3">
                             {% include "components/itinerary-card.html" %}
                            </div>
                            <div class="col-md-3">
                             {% include "components/itinerary-card.html" %}
                            </div>
                        </div>
                    </div>
                    <div class="d-none d-lg-block d-xxl-none">
                        <div class="row justify-content-around">
                            <div class="col-md-4">
                             {% include "components/itinerary-card.html" %}
                            </div>
                            <div class="col-md-4">
                             {% include "components/itinerary-card.html" %}
                            </div>
                            <div class="col-md-4">
                             {% include "components/itinerary-card.html" %}
                            </div>
                        </div>
                    </div>
                    <div class="d-none d-md-block d-lg-none">
                        <div class="row justify-content-center">
                            <div class="col-md-6">
                             {% include "components/itinerary-card.html" %}
                            </div>
                            <div class="col-md-6">
                             {% include "components/itinerary-card.html" %}
                            </div>
                        </div>
                    </div>
                    <div class="d-block d-md-none">
                        <div class="row justify-content-center">
                            <div class="col-12">
                             {% include "components/itinerary-card.html" %}
                            </div>
                        </div>
                    </div>
                </div>
            </div>
         </div>
    </div>
    <div class="col-md">
        <div class="d-none d-md-block">
            <a class="mx-auto carousel-control-next position-static opacity-100" href="#activityCarousel" role="button" data-bs-slide="next">
                <img src="../../../static/svg/right-arrow.svg" alt="right-arrow"/>
            </a>
        </div>
    </div>
</div>
