{% extends "components/template.html" %}
{% block title %}Itinerary request{% endblock %}
{% block navbar %}
{% endblock %}
{% block content %}
{% set stages_counter = namespace(value=0) %}
<div class="row">
    <div class="col-12 col-md-4 pe-md-1 pt-3">
        <div class="row align-items-center">
            <div class="col-6">
                <div class="d-none d-lg-block w-100">
                    <a href="/traveler/dashboard"><img width="150" src="../../static/image/logo/easyTravel-lg.png" alt="logo-lg"></a>
                  </div>
                  <div class="d-block d-md-block d-lg-none w-100">
                      <a href="/traveler/dashboard"><img width="100" src="../../static/image/logo/easyTravel-sm.png" alt="logo-md"></a>
                  </div>
            </div>
            <div class="col-6">
                <div id="actions_container" class="d-flex gap-2 justify-content-end">
                    {% if itinerary_request.status == "COMPLETED" %}
                        <a id="save_itinerary" href="#" data-bs-placement="bottom" data-bs-toggle="tooltip" data-bs-title="Save itinerary"><img class="img-fluid" src="../../static/svg/save-itinerary.svg" alt="save"></a>
                    {% endif %}
                </div>
            </div>
        </div>
        <div class="row mt-3">
            <div class="col-12">
                <img id="city_img" class="w-100 object-fit-cover" height="300">
                <h1 id="city_country" class="d-none d-xl-block fs-40 fw-bold mt-2 mb-0 placeholder-wave"><span class="placeholder col-8"></span></h1>
                <h1 id="city_country" class="d-none d-lg-block d-xl-none fs-32 fw-bold mt-2 mb-0 placeholder-wave"><span class="placeholder col-8"></span></h1>
                <h1 id="city_country" class="d-block d-lg-none fs-28 fw-bold mt-2 mb-0 placeholder-wave"><span class="placeholder col-8"></span></h1>
                <span id="itinerary_date" class="text-muted"></span>
                <p id="city_description" class="d-none d-xl-block mt-2 placeholder-wave"><span class="placeholder col-5"></span><span class="placeholder col-8"></span><span class="placeholder col-3"></span></p>
                <p id="city_description" class="d-none d-lg-block d-xl-none fs-14 mt-2 placeholder-wave"><span class="placeholder col-5"></span><span class="placeholder col-8"></span><span class="placeholder col-3"></span></p>
                <p id="city_description" class="d-block d-lg-none fs-12 mt-2 placeholder-wave"><span class="placeholder col-5"></span><span class="placeholder col-8"></span><span class="placeholder col-3"></span></p>
                <div class="row">
                    <div class="d-none d-2xl-block">
                        <div class="d-flex justify-content-start">
                            {{
                                itinerary_info.itinerary_info(
                                    "budget-" ~ itinerary_request.budget.lower(),
                                    "budget-" ~ itinerary_request.budget.lower(),
                                    "Estimated: " ~ itinerary_request.budget_min ~ " - " ~ itinerary_request.budget_max
                                )
                            }}
                            {{
                                itinerary_info.itinerary_info(
                                    "people-" ~ itinerary_request.travelling_with.lower(),
                                    "people" ~ itinerary_request.travelling_with.lower(),
                                    itinerary_request.travelling_with.lower().title()
                                )
                            }}
                        </div>
                        <div class="row mt-2">
                            <div class="col-12">
                                {% for activity in itinerary_request.interested_in %}
                                    {{
                                        itinerary_activity_info.itinerary_activity_info(
                                            activity.lower().replace("_", "-"),
                                            activity.lower().replace("_", "-"),
                                            activity.lower().replace("_", " ").title()
                                        )
                                    }}
                                {% endfor %}
                            </div>
                        </div>
                    </div>
                    <div class="d-block d-2xl-none">
                        <div class="col-12">
                            {{
                                itinerary_info.itinerary_info(
                                    "budget-" ~ itinerary_request.budget.lower(),
                                    "budget-" ~ itinerary_request.budget.lower(),
                                    "Estimated: " ~ itinerary_request.budget_min ~ " - " ~ itinerary_request.budget_max
                                )
                            }}
                            {{
                                itinerary_info.itinerary_info(
                                    "people-" ~ itinerary_request.travelling_with.lower(),
                                    "people" ~ itinerary_request.travelling_with.lower(),
                                    itinerary_request.travelling_with.lower().title()
                                )
                            }}
                        </div>
                    </div>
                </div>
                <h1 class="d-none d-xl-block fs-32 fw-medium mt-5">Itinerary</h1>
                <h1 class="d-none d-lg-block d-xl-none fs-28 fw-medium mt-4">Itinerary</h1>
                <h1 class="d-none d-md-block d-lg-none fs-26 fw-medium mt-3">Itinerary</h1>
                <div id="details_container"></div>
                <div id="details-container-placeholder" class="row">
                    <div class="col-12 my-4 placeholder-wave">
                        <div class="d-flex border border-2 border-black p-3">
                            <span class="placeholder placeholder-lg col-10"></span>
                        </div>
                        <div class="border border-black mt-3 p-3">
                            <div class="d-flex">
                                <div class="bg-black px-3 py-1">
                                    <span class="fw-bold text-white"><span class="placeholder bg-white w-100"></span></span>
                                </div><span class="placeholder ms-2 w-50"></span>
                            </div>
                            <div class="flex">
                                <span class="placeholder w-50"></span>
                            </div>
                            <div class="flex">
                                <span class="placeholder w-25"></span><span class="placeholder ms-2 w-50"></span>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="col-12 col-md-8 pe-md-0 mt-3 mt-md-0">
        <div id="map" class="position-fixed"></div>
    </div>
</div>
{% endblock %}
{% block script %}
    <script>
        var map = L.map('map');
        L.tileLayer('https://tile.openstreetmap.org/{z}/{x}/{y}.png', {
            maxZoom: 19,
            attribution: '&copy; <a href="http://www.openstreetmap.org/copyright">OpenStreetMap</a>'
        }).addTo(map);

        $(this).on('load', () => {
            find_city_meta("{{ itinerary_request.city }}", map)
        })

        map.on('load', () => {
            get_itinerary_request("{{ itinerary_request.id }}", map)
        })

        {% if city_meta %}
            map.setView([{{ city_meta.coordinates.lat }}, {{ city_meta.coordinates.lng }}], 12)
        {% else %}
            map.setView([{{ lat }}, {{ lng }}], 12);
        {% endif %}
    </script>
{% endblock %}