{% extends "components/template.html" %}
{% block title %}Search itinerary{% endblock %}
{% block navbar %}
    {% include "components/navbar.html" %}
{% endblock %}
{% block content %}
    <div class="row mx-2 mx-md-3 mx-lg-5 mt-3 mt-lg-0">
        <div class="col">
            <h1 class="d-none d-lg-block fs-40">Search itineraries</h1>
            <h1 class="d-none d-md-block d-lg-none fs-32">Search itineraries</h1>
            <h1 class="d-block d-md-none fs-26">Search itineraries</h1>
            <p class="text-muted">{{ itineraries.content|count }} itinerary found.</p>
        </div>
    </div>
    <form action="/itinerary/search" method="GET" onsubmit="return check_search()">
        <div class="row mx-2 mx-md-3 mx-lg-5 mt-3 align-items-end">
            <div class="col-12 col-lg">
                <label for="location" class="form-label">Location</label>
                <input type="text" onkeyup="handle_capital_search(event, 'search-autocomplete-list')" onfocus="handle_capital_search(event, 'search-autocomplete-list')" onfocusout="setTimeout(() => $('#search-autocomplete-list').empty(), 100)" placeholder="Select a city..." class="form-control border-0 bg-grey" id="location" name="city">
                <div id="search-autocomplete-list" class="autocomplete-list w-auto position-fixed bg-white" style="display: none; cursor: pointer;"></div>
            </div>
            <div class="col-12 col-lg mt-3 mt-lg-0">
                <label for="people" class="form-label">People</label>
                <select class="form-select bg-grey border-0" id="people" name="people">
                  <option value="" selected>Choose one...</option>
                  <option value="SOLO">Solo</option>
                  <option value="COUPLE">Couple</option>
                  <option value="FRIENDS">Friends</option>
                  <option value="FAMILY">Family</option>
                </select>
            </div>
            <div class="col-12 col-lg mt-3 mt-lg-0">
                <label for="budget" class="form-label">Budget</label>
                <select class="form-select bg-grey border-0" id="budget" name="budget">
                  <option value="" selected>Choose one...</option>
                  <option value="LOW">Low</option>
                  <option value="MEDIUM">Medium</option>
                  <option value="HIGH">High</option>
                </select>
            </div>
            <div class="col-12 col-lg mt-3 mt-lg-0">
                <label for="activity" class="form-label">Activity</label>
                <select class="form-select bg-grey border-0" id="activity" name="interested_in">
                  <option value="" selected>Choose one...</option>
                  <option value="BEACH">Beach</option>
                  <option value="CITY_SIGHTSEEING">City sightseeing</option>
                  <option value="FESTIVAL">Festival</option>
                  <option value="FOOD_EXPLORATION">Food exploration</option>
                  <option value="OUTDOOR_ADVENTURES">Outdoor adventures</option>
                  <option value="NIGHTLIFE">Nightlife</option>
                  <option value="SHOPPING">Shopping</option>
                  <option value="SPA_WELLNESS">Spa & wellness</option>
                </select>
            </div>
            <div class="col-12 col-lg mt-5 mt-lg-0">
                <div class="d-flex justify-content-end">
                    <button type="submit" class="btn btn-primary">Search</button>
                </div>
            </div>
        </div>
    </form>
    <hr class="mx-2 mx-md-3 mx-lg-5 mt-3">
    <div class="row mt-5 justify-content-start mx-2 mx-md-3 mx-lg-5 mt-3">
        {% if itineraries.content|count > 0 %}
            {% for itinerary in itineraries.content %}
                <div class="p-0 col-12 col-md-6 col-lg-4 col-xl-3 col-xxl-2">
                    {{ itinerary_card.itinerary_card(itinerary.country,itinerary.city, itinerary.description, itinerary.interested_in,itinerary.image.alt_description,itinerary.image.urls.regular) }}
                </div>
            {% endfor %}
        {% else %}
            <div class="col-12">
                <h3>No itinerary found!</h3>
            </div>
        {% endif %}
    </div>
{% endblock %}
{% block footer %}
    {% include "components/footer.html" %}
{% endblock %}}
{% block script %}
<script>
    $(this).on("load", () => {
        get_traveler()
            .then(response => {
                if(!response.ok && response.status === 401) {
                    go_to_login()
                }
            });

        {% if searched_city %}
            $("#location").val("{{ searched_city }}")
        {% endif %}

        {% if searched_people %}
            $("#people").val("{{ searched_people }}")
        {% endif %}

        {% if searched_budget %}
            $("#budget").val("{{ searched_budget }}")
        {% endif %}

        {% if searched_activity %}
            $("#activity").val("{{ searched_activity }}")
        {% endif %}
    })
</script>
{% endblock %}