{% extends "components/template.html" %}
{% block title %}Upciming itineraries{% endblock %}
{% block navbar %}
    {% include "components/navbar.html" %}
{% endblock %}
{% block content %}
<div class="row mt-4 mt-sm-0">
    <div class="col-10 mx-auto">
        <h1 class="d-none d-md-block fs-40 fs-medium mb-5">Upcoming itineraries</h1>
        <h1 class="d-block d-md-none fs-24 fs-medium mb-3">Upcoming itineraries</h1>
        <div class="row mb-5 mb-sm-3">
            <div class="col-12 px-md-5">
                {{ itinerary_upcoming_card.itinerary_upcoming_card("United States of America, New York", "21 Ott 2024", "24 Ott 2024", "Tra 2 settimane", "vienna", "https://images.unsplash.com/photo-1480413258216-ff003d179d65?q=80&w=2070&auto=format&fit=crop&ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D","budget-low","people-couple") }}
            </div>
        </div>
        <h1 class="d-none d-md-block fs-40 fs-medium mb-5">Previous trips</h1>
        <h1 class="d-block d-md-none fs-24 fs-medium mb-3">Previous trips</h1>
        <div class="d-flex justify-content-center justify-content-md-between px-0 px-xxl-3 px-2xl-5">
            <div class="d-none d-md-block d-xxl-block">{{ itinerary_prev_card.itinerary_prev_card("Austria, Vienna", "21 Ott 2024", "24 Ott 2024","Giorgio, Anna","https://images.unsplash.com/photo-1480413258216-ff003d179d65?q=80&w=2070&auto=format&fit=crop&ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D","vienna") }}</div>
            <div class="d-none d-md-block d-xxl-block">{{ itinerary_prev_card.itinerary_prev_card("Austria, Vienna", "21 Ott 2024", "24 Ott 2024","Giorgio, Anna","https://images.unsplash.com/photo-1480413258216-ff003d179d65?q=80&w=2070&auto=format&fit=crop&ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D","vienna") }}</div>
            <div class="d-block d-md-none d-xxl-block">{{ itinerary_prev_card.itinerary_prev_card("Austria, Vienna", "21 Ott 2024", "24 Ott 2024","Giorgio, Anna","https://images.unsplash.com/photo-1480413258216-ff003d179d65?q=80&w=2070&auto=format&fit=crop&ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D","vienna") }}</div>
        </div>
    </div>
</div>
{% endblock %}
{% block footer %}
    {% include "components/footer.html" %}
{% endblock %}
{% block script %}
<script>
</script>
{% endblock %}