<div id="outdoor-adventures-section">
    <div class="row">
        <div class="col-md-12">
            <h2 class="d-none d-md-block fs-40">Outdoor adventure itineraries</h2>
            <h2 class="d-block d-md-none fs-32">Outdoor adventure itineraries</h2>
        </div>
    </div>
    <div class="row mt-3 align-items-center">
        <div class="col-md">
            <div class="d-none d-md-block">
                <a class="mx-auto carousel-control-prev position-static opacity-100" href="#activityCarousel" data-bs-slide="prev">
                    <img src="../../../static/svg/left-arrow.svg" alt="left-arrow">
                </a>
            </div>
        </div>
        <div class="col-12 col-md-10">
             <div id="activityCarousel" class="carousel slide" data-bs-ride="ride">
                 <div id="activity_itinerary_carousel" class="carousel-inner" role="listbox"></div>
             </div>
        </div>
        <div class="col-md">
            <div class="d-none d-md-block">
                <a class="mx-auto carousel-control-next position-static opacity-100" href="#activityCarousel" role="button" data-bs-slide="next">
                    <img src="../../../static/svg/right-arrow.svg" alt="right-arrow"/>
                </a>
            </div>
        </div>
    </div>
</div>