<div id="beach-section">
    <div class="row align-items-end mx-xxl-auto">
        <div class="col">
            <h2 class="d-none d-md-block mb-0 fs-40">Beach itineraries</h2>
            <h2 class="d-none d-sm-block d-md-none mb-0 fs-32">Beach itineraries</h2>
            <h2 class="d-block d-sm-none mb-0 fs-28">Beach itineraries</h2>
        </div>
        <div class="col-3">
            <div class="d-grid justify-content-end">
                <span class="d-none d-md-block fs-14 text-black">Show more</span>
                <span class="d-block d-md-none fs-12 text-black">Show more</span>
            </div>
        </div>
    </div>
    <div id="activity_itinerary_carousel" class="row mt-5 justify-content-center mx-auto">
    </div>
</div>
<div id="city-sightseeing-section">
    <div class="row align-items-end mx-xxl-auto">
        <div class="col">
            <h2 class="d-none d-md-block mb-0 fs-40">City sightseeing itineraries</h2>
            <h2 class="d-none d-sm-block d-md-none mb-0 fs-32">City sightseeing itineraries</h2>
            <h2 class="d-block d-sm-none mb-0 fs-28">City sightseeing itineraries</h2>
        </div>
        <div class="col-3">
            <div class="d-grid justify-content-end">
                <span class="d-none d-md-block fs-14 text-black">Show more</span>
                <span class="d-block d-md-none fs-12 text-black">Show more</span>
            </div>
        </div>
    </div>
    <div id="activity_itinerary_carousel" class="row mt-5 justify-content-center mx-auto">
    </div>
</div>
<div id="outdoor-adventures-section">
    <div class="row align-items-end mx-xxl-auto">
        <div class="col">
            <h2 class="d-none d-md-block mb-0 fs-40">Outdoor adventure itineraries</h2>
            <h2 class="d-none d-sm-block d-md-none mb-0 fs-32">Outdoor adventure itineraries</h2>
            <h2 class="d-block d-sm-none mb-0 fs-28">Outdoor adventure itineraries</h2>
        </div>
        <div class="col-3">
            <div class="d-grid justify-content-end">
                <span class="d-none d-md-block fs-14 text-black">Show more</span>
                <span class="d-block d-md-none fs-12 text-black">Show more</span>
            </div>
        </div>
    </div>
    <div id="activity_itinerary_carousel" class="row mt-5 justify-content-center mx-auto">
    </div>
</div>
<div id="festival-section">
    <div class="row align-items-end mx-xxl-auto">
        <div class="col">
            <h2 class="d-none d-md-block mb-0 fs-40">Festival itineraries</h2>
            <h2 class="d-none d-sm-block d-md-none mb-0 fs-32">Festival itineraries</h2>
            <h2 class="d-block d-sm-none mb-0 fs-28">Festival itineraries</h2>
        </div>
        <div class="col-3">
            <div class="d-grid justify-content-end">
                <span class="d-none d-md-block fs-14 text-black">Show more</span>
                <span class="d-block d-md-none fs-12 text-black">Show more</span>
            </div>
        </div>
    </div>
    <div id="activity_itinerary_carousel" class="row mt-5 justify-content-center mx-auto">
    </div>
</div>
<div id="food-exploration-section">
    <div class="row align-items-end mx-xxl-auto">
        <div class="col">
            <h2 class="d-none d-md-block mb-0 fs-40">Food exploration itineraries</h2>
            <h2 class="d-none d-sm-block d-md-none mb-0 fs-32">Food exploration itineraries</h2>
            <h2 class="d-block d-sm-none mb-0 fs-28">Food exploration itineraries</h2>
        </div>
        <div class="col-3">
            <div class="d-grid justify-content-end">
                <span class="d-none d-md-block fs-14 text-black">Show more</span>
                <span class="d-block d-md-none fs-12 text-black">Show more</span>
            </div>
        </div>
    </div>
    <div id="activity_itinerary_carousel" class="row mt-5 justify-content-center mx-auto">
    </div>
</div>
<div id="nightlife-section">
    <div class="row align-items-end mx-xxl-auto">
        <div class="col">
            <h2 class="d-none d-md-block mb-0 fs-40">Nightlife itineraries</h2>
            <h2 class="d-none d-sm-block d-md-none mb-0 fs-32">Nightlife itineraries</h2>
            <h2 class="d-block d-sm-none mb-0 fs-28">Nightlife itineraries</h2>
        </div>
        <div class="col-3">
            <div class="d-grid justify-content-end">
                <span class="d-none d-md-block fs-14 text-black">Show more</span>
                <span class="d-block d-md-none fs-12 text-black">Show more</span>
            </div>
        </div>
    </div>
    <div id="activity_itinerary_carousel" class="row mt-5 justify-content-center mx-auto">
    </div>
</div>
<div id="shopping-section">
    <div class="row align-items-end mx-xxl-auto">
        <div class="col">
            <h2 class="d-none d-md-block mb-0 fs-40">Shopping itineraries</h2>
            <h2 class="d-none d-sm-block d-md-none mb-0 fs-32">Shopping itineraries</h2>
            <h2 class="d-block d-sm-none mb-0 fs-28">Shopping itineraries</h2>
        </div>
        <div class="col-3">
            <div class="d-grid justify-content-end">
                <span class="d-none d-md-block fs-14 text-black">Show more</span>
                <span class="d-block d-md-none fs-12 text-black">Show more</span>
            </div>
        </div>
    </div>
    <div id="activity_itinerary_carousel" class="row mt-5 justify-content-center mx-auto">
    </div>
</div>
<div id="spa-wellness-section">
    <div class="row align-items-end mx-xxl-auto">
        <div class="col">
            <h2 class="d-none d-md-block mb-0 fs-40">Spa & Wellness itineraries</h2>
            <h2 class="d-none d-sm-block d-md-none mb-0 fs-32">Spa & Wellness itineraries</h2>
            <h2 class="d-block d-sm-none mb-0 fs-28">Spa & Wellness itineraries</h2>
        </div>
        <div class="col-3">
            <div class="d-grid justify-content-end">
                <span class="d-none d-md-block fs-14 text-black">Show more</span>
                <span class="d-block d-md-none fs-12 text-black">Show more</span>
            </div>
        </div>
    </div>
    <div id="activity_itinerary_carousel" class="row mt-5 justify-content-center mx-auto">
    </div>
</div>