<div class="row align-items-end mx-xxl-auto">
    <div id="nightlife" class="col">
        <h2 class="d-none d-md-block mb-0 fs-40">Nightlife itinerary</h2>
        <h2 class="d-none d-sm-block d-md-none mb-0 fs-32">Nightlife itinerary</h2>
        <h2 class="d-block d-sm-none mb-0 fs-28">Nightlife itinerary</h2>
    </div>
    <div class="col-3">
        <div class="d-grid justify-content-end">
            <span class="d-none d-md-block fs-14 text-black">Show more</span>
            <span class="d-block d-md-none fs-12 text-black">Show more</span>
        </div>
    </div>
</div>
<div class="row mt-5 justify-content-center mx-auto">
    <div class="p-0 col-12 col-md-6 col-lg-4 col-xl-3 col-xxl-2">
        {{ itinerary_card.itinerary_card("Portugal","Lisbona","Lisbon is a fascinating and lively city, where history mixes with the modern in perfect balance. Its narrow cobbled streets, filled with yellow trams and pastel-colored houses, lead to sunny squares and breathtaking views of the Atlantic Ocean. Perfect for those looking for authenticity and beauty in every corner.",["Beaches","Outdoor adventures","Nightlife"],"lisbona_img","https://images.unsplash.com/photo-1536663815808-535e2280d2c2?q=80&w=1964&auto=format&fit=crop&ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D") }}
    </div>
    <div class="p-0 col-12 col-md-6 col-lg-4 col-xl-3 col-xxl-2">
        {{ itinerary_card.itinerary_card("Spain","Madrid","Lisbon is a fascinating and lively city, where history mixes with the modern in perfect balance. Its narrow cobbled streets, filled with yellow trams and pastel-colored houses, lead to sunny squares and breathtaking views of the Atlantic Ocean. Perfect for those looking for authenticity and beauty in every corner.",["Beaches","Outdoor adventures","Nightlife"],"lisbona_img","https://images.unsplash.com/photo-1509845350455-fb0c36048db1?q=80&w=2070&auto=format&fit=crop&ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D") }}
    </div>
    <div class="p-0 col-12 col-md-6 col-lg-4 col-xl-3 col-xxl-2">
        {{ itinerary_card.itinerary_card("France","Paris","Lisbon is a fascinating and lively city, where history mixes with the modern in perfect balance. Its narrow cobbled streets, filled with yellow trams and pastel-colored houses, lead to sunny squares and breathtaking views of the Atlantic Ocean. Perfect for those looking for authenticity and beauty in every corner.",["Beaches","Outdoor adventures","Nightlife"],"lisbona_img","https://images.unsplash.com/photo-1511739001486-6bfe10ce785f?q=80&w=1974&auto=format&fit=crop&ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D") }}
    </div>
    <div class="p-0 col-12 col-md-6 col-lg-4 col-xl-3 col-xxl-2">
        {{ itinerary_card.itinerary_card("Netherland","Amsterdam","Lisbon is a fascinating and lively city, where history mixes with the modern in perfect balance. Its narrow cobbled streets, filled with yellow trams and pastel-colored houses, lead to sunny squares and breathtaking views of the Atlantic Ocean. Perfect for those looking for authenticity and beauty in every corner.",["Beaches","Outdoor adventures","Nightlife"],"lisbona_img","https://plus.unsplash.com/premium_photo-1661887237533-b38811c27add?q=80&w=2070&auto=format&fit=crop&ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D") }}
    </div>
    <div class="p-0 col-12 col-md-6 col-lg-4 col-xl-3 col-xxl-2">
        {{ itinerary_card.itinerary_card("Germany","Berlin","Lisbon is a fascinating and lively city, where history mixes with the modern in perfect balance. Its narrow cobbled streets, filled with yellow trams and pastel-colored houses, lead to sunny squares and breathtaking views of the Atlantic Ocean. Perfect for those looking for authenticity and beauty in every corner.",["Beaches","Outdoor adventures","Nightlife"],"lisbona_img","https://plus.unsplash.com/premium_photo-1677486562712-d03d3d9ac23d?q=80&w=1974&auto=format&fit=crop&ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D") }}
    </div>
</div>
