<div class="d-none d-xxl-block">
    <div class="row">
        <div class="col-md-8">
            <h1 class="fs-130 lh-1">Welcome back, <span id="first_name"></span></h1>
        </div>
        <div class="col-md-4 my-auto">
            <h2 class="fs-20">Ready for a new journey?</h2>
            <p>Leave your routine behind and discover the world: every trip is a new adventure waiting for you, full of surprises and unforgettable emotion!</p>
            <button id="create_itinerary" class="btn btn-primary btn-block fw-medium mt-2">Create new itinerary</button>
        </div>
    </div>
</div>
<div class="d-none d-xl-block d-xxl-none">
    <div class="row">
        <div class="col-md-8">
            <h1 class="fs-100">Welcome back, <span id="first_name"></span></h1>
        </div>
        <div class="col-md-4 my-auto">
            <h2 class="fs-20">Ready for a new journey?</h2>
            <p>Leave your routine behind and discover the world: every trip is a new adventure waiting for you, full of surprises and unforgettable emotion!</p>
            <button id="create_itinerary" class="btn btn-primary btn-block fw-medium mt-2">Create new itinerary</button>
        </div>
    </div>
</div>
<div class="d-none d-lg-block d-xl-none d-xxl-none">
    <div class="row">
        <div class="col-md-8">
            <h1 class="fs-80">Welcome back, <span id="first_name"></span></h1>
        </div>
        <div class="col-md-4 my-auto">
            <h2 class="fs-20">Ready for a new journey?</h2>
            <p>Leave your routine behind and discover the world: every trip is a new adventure waiting for you, full of surprises and unforgettable emotion!</p>
            <button id="create_itinerary" class="btn btn-primary btn-block fw-medium mt-2">Create new itinerary</button>
        </div>
    </div>
</div>
<div class="d-none d-md-block d-lg-none d-xl-none d-xxl-none">
    <div class="row">
        <div class="col-md-8">
            <h1 class="fs-60">Welcome back, <span id="first_name"></span></h1>
        </div>
        <div class="col-md-4 my-auto">
            <h2 class="fs-20">Ready for a new journey?</h2>
            <p>Leave your routine behind and discover the world: every trip is a new adventure waiting for you, full of surprises and unforgettable emotion!</p>
            <button id="create_itinerary" class="btn btn-primary btn-block fw-medium mt-2">Create new itinerary</button>
        </div>
    </div>
</div>
<div class="d-none d-sm-block d-md-none d-lg-none d-xl-none d-xxl-none">
    <div class="row">
        <div class="col-md-8">
            <h1 class="fs-60">Welcome back, <span id="first_name"></span></h1>
        </div>
        <div class="col-md-4 my-auto">
            <h2 class="fs-20">Ready for a new journey?</h2>
            <p>Leave your routine behind and discover the world: every trip is a new adventure waiting for you, full of surprises and unforgettable emotion!</p>
            <button id="create_itinerary" class="btn btn-primary btn-block fw-medium mt-2">Create new itinerary</button>
        </div>
    </div>
</div>
<div class="d-block d-sm-none d-md-none d-lg-none d-xl-none d-xxl-none">
    <div class="row">
        <div class="col-md-8">
            <h1 class="fs-40">Welcome back, <span id="first_name"></span></h1>
        </div>
        <div class="col-md-4 mt-5 my-auto">
            <h2 class="fs-20">Ready for a new journey?</h2>
            <p>Leave your routine behind and discover the world: every trip is a new adventure waiting for you, full of surprises and unforgettable emotion!</p>
            <button id="create_itinerary" class="btn btn-primary btn-block fw-medium mt-2">Create new itinerary</button>
        </div>
    </div>
</div>